@media all and (min-width: 1200px) {
  header {
    width: 100%;
    height: auto; }
    header #first_header {
      width: 1160px;
      height: 120px;
      margin-left: auto;
      margin-right: auto; }
      header #first_header #search_input {
        margin-top: 13px;
        float: right;
        width: 200px;
        height: 36px;
        padding-left: 10px;
        font-size: 17px;
        background-position: 170px center; }
      header #first_header #header_logo {
        width: 244px;
        float: left;
        margin-top: 25px; }
        header #first_header #header_logo #header_logo_img {
          height: 70px;
          width: 216px; }
      header #first_header #hoofd_menu {
        float: right;
        margin-top: 26px;
        width: calc(100% - 244px); }
        header #first_header #hoofd_menu ul li {
          position: relative;
          display: inline-block;
          margin-left: 26px;
          padding-bottom: 23px; }
          header #first_header #hoofd_menu ul li a {
            font-size: 22px; }
          header #first_header #hoofd_menu ul li .children {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 240px;
            position: absolute;
            margin-left: -30px;
            top: 45px; }
            header #first_header #hoofd_menu ul li .children li {
              margin-left: 30px;
              line-height: 30px;
              display: block;
              padding: 0px; }
              header #first_header #hoofd_menu ul li .children li a {
                font-size: 18px !important;
                color: #ffffff; }
                header #first_header #hoofd_menu ul li .children li a:hover {
                  text-decoration: underline; }
            header #first_header #hoofd_menu ul li .children .children {
              margin-left: 210px;
              top: -15px;
              display: none; }
              header #first_header #hoofd_menu ul li .children .children li {
                margin-left: 10px; }
              header #first_header #hoofd_menu ul li .children .children.child-right {
                margin-left: -270px; }
          header #first_header #hoofd_menu ul li .menuToLeft {
            margin-left: -240px !important; }
            header #first_header #hoofd_menu ul li .menuToLeft .children {
              margin-left: -240px !important; }

  #second_header {
    height: 521px; }
    #second_header .quote {
      font-size: 50px;
      top: 229px; }
    #second_header a.button {
      font-size: 28px;
      top: 318px;
      padding-top: 16px;
      padding-bottom: 12px;
      padding-left: 33px;
      padding-right: 33px; }
    #second_header #mcHeader {
      min-width: 1067px;
      min-height: 600px; }

  main {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 540px); }
    main h1, main h2 {
      font-size: 32px;
      margin-bottom: 21px; }
    main h1.page_title {
      max-width: 620px; }
    main .post-edit-link {
      float: right;
      margin-right: 40px;
      margin-top: 27px;
      font-size: 25px; }
    main .post-edit-link:hover {
      text-decoration: none; }
    main .nieuwe_sectie {
      margin-top: 58px; }
    main #home_nieuws {
      width: 760px;
      margin-right: 40px; }
      main #home_nieuws .home_samenvatting {
        width: 760px;
        margin-top: 30px;
        position: relative; }
        main #home_nieuws .home_samenvatting .home_nieuws_thumb {
          width: 270px;
          height: 180px; }
        main #home_nieuws .home_samenvatting .home_samenvatting_wrapper {
          width: 405px;
          margin-left: 30px;
          margin-right: 0px;
          margin-top: 27px;
          margin-bottom: 27px;
          line-height: 24px;
          font-size: 17px;
          letter-spacing: 0.3;
          -webkit-line-clamp: 3; }
          main #home_nieuws .home_samenvatting .home_samenvatting_wrapper h3 {
            font-size: 27px;
            letter-spacing: 0.2px;
            margin-bottom: 6px; }
        main #home_nieuws .home_samenvatting:nth-child(1) {
          margin-top: 0px; }
    main #sidebar_home_1 {
      width: 360px; }
      main #sidebar_home_1 aside {
        margin-bottom: 30px; }
        main #sidebar_home_1 aside:last-child {
          margin-bottom: 0px !important; }
    main #sidebar_home_2 {
      width: 760px; }
    main #sidebar_home_3 {
      width: 100%;
      margin-bottom: 49px; }
      main #sidebar_home_3 aside {
        width: calc(50% - 20px);
        float: left; }
        main #sidebar_home_3 aside section, main #sidebar_home_3 aside ul {
          background: #ffffff;
          height: 280px;
          padding: 30px;
          text-align: center; }
        main #sidebar_home_3 aside:nth-child(1) {
          margin-right: 40px; }
    main #vervolg_content {
      width: 760px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 40px; }
      main #vervolg_content h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 21px;
        letter-spacing: -0.7px; }
      main #vervolg_content .page_header {
        width: 100%;
        height: 300px; }
      main #vervolg_content .page_content_tekst {
        width: calc(100% - 80px);
        margin: 40px;
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px; }
      main #vervolg_content .special-header {
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        padding-left: 40px !important;
        padding-right: 40px !important; }
    main .page_content_posts_loop {
      width: 760px; }
    main #pagina_navigatie {
      margin-top: 40px;
      width: 360px; }
      main #pagina_navigatie h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 17px;
        letter-spacing: -0.7px; }
      main #pagina_navigatie ul {
        margin: 40px;
        margin-top: 0px; }
        main #pagina_navigatie ul li a {
          font-size: 18px;
          line-height: 30px; }
    main .special-header {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px; }
      main .special-header .form-group {
        width: 33%;
        height: 40px; }
      main .special-header .styled-select {
        width: 60%;
        height: 34px; }
      main .special-header .input-full-width .styled-select,
      main .special-header .input-full-width input {
        width: 100% !important; }
      main .special-header label {
        font-size: 16px;
        width: 35%; }
      main .special-header input[type=text] {
        height: 34px;
        width: 60%;
        padding: 6px;
        font-size: 16px; }
      main .special-header.special-header-2-cols .lckv_headerGroup {
        width: 50%; }
        main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
        main .special-header.special-header-2-cols .lckv_headerGroup.two-cols {
          width: 100%; }
          main .special-header.special-header-2-cols .lckv_headerGroup.two-cols .single-col {
            width: 25%; }
          main .special-header.special-header-2-cols .lckv_headerGroup.two-cols .double-col {
            width: 50%; }
          main .special-header.special-header-2-cols .lckv_headerGroup.two-cols .triple-col {
            width: 75%; }
          main .special-header.special-header-2-cols .lckv_headerGroup.two-cols .quadruple-col {
            width: 100%; }
      main .special-header.special-header-3-cols .lckv_headerGroup {
        width: calc(33% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
      main .special-header.special-header-4-cols .lckv_headerGroup {
        width: calc(25% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
      main .special-header .lckv_headerGroup {
        width: 33%; }
        main .special-header .lckv_headerGroup .lckv_headerLabel, main .special-header .lckv_headerGroup .lckv_headerValue {
          padding-right: 10px;
          width: 50%; }
    main form .special-header .lckv_headerGroup .lckv_headerLabel, main form .special-header .lckv_headerGroup .lckv_headerValue {
      line-height: 34px; }
    main .navigation-box {
      float: left;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px; }

  footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px; }
    footer #footer_navigatie {
      width: 1160px; }
      footer #footer_navigatie .footerblok {
        margin-right: 45px;
        width: calc(16% - 30px); }
        footer #footer_navigatie .footerblok .parent_page {
          font-size: 24px;
          display: inline-block;
          margin-bottom: 6px; }
        footer #footer_navigatie .footerblok ul li a {
          color: #ffffff;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.3px; }
        footer #footer_navigatie .footerblok:last-child {
          margin-right: 0px !important; }

  .lckv_kaart {
    width: calc(33% - 10px);
    height: 150px;
    margin: 10px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; }
    .lckv_kaart:nth-child(3n + 1) {
      margin-left: 0px; }
    .lckv_kaart:nth-child(3n) {
      margin-right: 0px; }

  /********** Dagtochten plugin **********/
  .lckv-dt-map {
    width: 100%;
    height: 600px; }

  /********** Widgets **********/
  .groene_pijl {
    width: 100%; }
    .groene_pijl .groene_pijl_bg {
      height: 180px;
      background-size: 105px;
      line-height: 180px;
      font-size: 36px; }

  .lckv_tekst {
    height: 390px; }
    .lckv_tekst .tabs h2 {
      line-height: 60px;
      font-size: 27px; }
    .lckv_tekst .content {
      height: 330px; }
    .lckv_tekst .tekst {
      font-size: 17px;
      line-height: 24px; }

  .lckv_media_item {
    height: 120px;
    padding: 18px;
    margin-bottom: 30px; }
    .lckv_media_item .lckv_media_icon {
      width: 84px;
      height: 84px; }
      .lckv_media_item .lckv_media_icon img {
        width: 52px;
        height: 52px;
        position: absolute;
        top: 34px;
        left: 34px; }
    .lckv_media_item .lckv_media_tekst {
      width: calc(100% - 104px);
      padding-left: 18px;
      font-size: 20.2px;
      line-height: 28px;
      padding-top: 16px; }

  .lckv_agenda_item {
    height: 120px;
    margin-bottom: 30px; }
    .lckv_agenda_item .lckv_agenda_datum {
      width: 120px;
      height: 120px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag, .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        width: 100%;
        height: 50%;
        line-height: 57px;
        letter-spacing: -1; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
        padding-top: 6px;
        padding-left: 17px;
        font-size: 37px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        padding-left: 62px;
        font-size: 30px; }
    .lckv_agenda_item .lckv_agenda_tekst {
      width: calc(100% - 120px);
      padding: 23px;
      padding-left: 30px;
      line-height: 26px;
      font-size: 18px;
      letter-spacing: -0.1; }
      .lckv_agenda_item .lckv_agenda_tekst h3 {
        font-style: normal;
        font-size: 27px;
        letter-spacing: 0.2px;
        margin-bottom: 6px; }

  .spelTaxonomy {
    width: 50%; }

  .receptTaxonomy {
    width: 33.33%; }

  .taxAantal {
    width: 100px;
    float: left;
    padding: 2px; }
    .taxAantal input[type=text] {
      width: 100% !important; }

  .taxMateriaal {
    width: 250px;
    float: left;
    padding: 2px; }
    .taxMateriaal input[type=text] {
      width: 100% !important; }

  .taxOpmerkingen {
    width: 330px;
    float: left;
    padding: 2px; }
    .taxOpmerkingen input[type=text] {
      width: 100% !important; }

  .lckv_vertrektijden_edit_kampnummer {
    width: 33%; }

  .lckv_vertrektijden_edit_kampnummer
  .lckv_vertrektijden_edit_correctie_wrapper,
  .lckv_vertrektijden_edit_nieuwe_tijd,
  .lckv_vertrektijden_edit_tijd {
    line-height: 40px; }

  .vertrektijdenOverzichtWeekWrapper {
    float: left;
    width: 100%; }

  .vertrektijdenOverzichtWeekVertrekWrapper {
    width: calc(50% - 15px);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }

  .vertrektijdenOverzichtWeekAankomstWrapper {
    width: calc(50% - 15px);
    float: right;
    margin-bottom: 10px; } }

/*# sourceMappingURL=desktop-wide.css.map */
