@media all and (min-width: 980px) and (max-width: 1199px) {
  header {
    width: 100%;
    height: auto; }
    header #first_header {
      width: 960px;
      height: 120px;
      margin-left: auto;
      margin-right: auto; }
      header #first_header #search_input {
        margin-top: 13px;
        float: right;
        width: 180px;
        height: 31px;
        padding-left: 10px;
        font-size: 17px;
        background-position: 150px center; }
      header #first_header #header_logo {
        width: 185px;
        float: left;
        margin-top: 30px; }
        header #first_header #header_logo #header_logo_img {
          width: 185px;
          height: 60px; }
      header #first_header #hoofd_menu {
        float: right;
        margin-top: 31px; }
        header #first_header #hoofd_menu ul li {
          position: relative;
          display: inline-block;
          margin-left: 15px;
          padding-bottom: 25px; }
          header #first_header #hoofd_menu ul li a {
            font-size: 20px; }
          header #first_header #hoofd_menu ul li .children {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 240px;
            position: absolute;
            left: -30px;
            top: 45px; }
            header #first_header #hoofd_menu ul li .children li {
              margin-left: 30px;
              line-height: 30px;
              display: block;
              padding: 0px; }
              header #first_header #hoofd_menu ul li .children li a {
                font-size: 18px !important;
                color: #ffffff; }
              header #first_header #hoofd_menu ul li .children li a:hover {
                text-decoration: underline; }

  #second_header {
    height: 521px; }
    #second_header .quote {
      font-size: 50px;
      top: 229px; }
    #second_header a.button {
      font-size: 28px;
      top: 318px;
      padding-top: 16px;
      padding-bottom: 12px;
      padding-left: 33px;
      padding-right: 33px; }

  main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 540px); }
    main h1 {
      font-size: 32px;
      margin-bottom: 21px; }
    main .nieuwe_sectie {
      margin-top: 50px; }
    main #home_nieuws {
      width: 630px;
      margin-right: 20px; }
      main #home_nieuws .home_samenvatting {
        width: 630px;
        margin-bottom: 30px;
        position: relative; }
        main #home_nieuws .home_samenvatting .home_nieuws_thumb {
          width: 205px;
          height: 135px; }
        main #home_nieuws .home_samenvatting .home_samenvatting_wrapper {
          width: 340px;
          margin-left: 30px;
          margin-right: 0px;
          margin-top: 19px;
          margin-bottom: 18px;
          height: 98px;
          line-height: 24px;
          font-size: 17px;
          letter-spacing: 0.3;
          -webkit-line-clamp: 3; }
          main #home_nieuws .home_samenvatting .home_samenvatting_wrapper h2 {
            font-size: 27px;
            letter-spacing: 0.2px;
            margin-bottom: 6px; }
      main #home_nieuws .home_samenvatting:nth-child(4) {
        margin-bottom: 0px !important; }
    main #sidebar_home_1 {
      width: 310px; }
      main #sidebar_home_1 aside {
        margin-bottom: 30px; }
    main #sidebar_home_2 {
      width: 100%; }
    main #sidebar_home_3 {
      width: 100%;
      margin-bottom: 49px; }
      main #sidebar_home_3 aside {
        width: calc(50% - 10px);
        float: left; }
        main #sidebar_home_3 aside section {
          background: #ffffff;
          height: 280px; }
      main #sidebar_home_3 aside:nth-child(1) {
        margin-right: 20px; }
    main #vervolg_content {
      width: 630px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 20px; }
      main #vervolg_content h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 21px;
        letter-spacing: -0.7px; }
      main #vervolg_content .page_header {
        width: 100%;
        height: 300px; }
      main #vervolg_content .page_content_tekst {
        margin: 40px;
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px;
        width: calc(100% - 80px); }
        main #vervolg_content .page_content_tekst .special-header {
          width: calc(100% + 80px);
          margin-left: -40px;
          margin-right: -40px;
          padding-left: 40px !important;
          padding-right: 40px !important; }
    main #pagina_navigatie {
      margin-top: 40px;
      width: 310px; }
      main #pagina_navigatie h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 17px;
        letter-spacing: -0.7px; }
      main #pagina_navigatie ul {
        margin: 40px;
        margin-top: 0px; }
        main #pagina_navigatie ul li a {
          font-size: 18px;
          line-height: 30px; }
    main .special-header {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px; }
      main .special-header .form-group {
        width: 33%;
        height: 40px; }
      main .special-header .styled-select {
        width: 60%;
        height: 34px; }
      main .special-header label {
        font-size: 16px;
        width: 35%; }
      main .special-header input[type=text] {
        height: 34px;
        width: 60%;
        padding: 6px;
        font-size: 16px; }
      main .special-header .lckv_headerGroup {
        width: calc(50% - 10px);
        margin-right: 10px; }
        main .special-header .lckv_headerGroup .lckv_headerLabel,
        main .special-header .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
    main form .special-header .lckv_headerGroup .lckv_headerLabel,
    main form .special-header .lckv_headerGroup .lckv_headerValue {
      line-height: 34px; }

  footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px; }
    footer #footer_navigatie {
      width: 960px;
      display: table; }
      footer #footer_navigatie .footerblok {
        margin-right: 10px;
        display: table-cell; }
        footer #footer_navigatie .footerblok .parent_page {
          font-size: 24px;
          display: inline-block;
          margin-bottom: 6px; }
        footer #footer_navigatie .footerblok ul li a {
          color: #ffffff;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.3px; }
      footer #footer_navigatie .footerblok:last-child {
        margin-right: 0px !important; }

  .lckv_kaart {
    width: calc(33% - 4px);
    height: 150px;
    margin: 5px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; }

  .lckv_kaart:nth-child(3n + 1) {
    margin-left: 0px; }

  .lckv_kaart:nth-child(3n) {
    margin-right: 0px;
    margin-left: 6px; }

  /********** Widgets **********/
  .groene_pijl {
    width: 100%; }
    .groene_pijl .groene_pijl_bg {
      height: 135px;
      background-size: 105px;
      line-height: 135px;
      font-size: 30px; }

  .lckv_tekst {
    height: 300px; }
    .lckv_tekst .tabs h1 {
      line-height: 45px;
      font-size: 23px; }
    .lckv_tekst .content {
      height: 345px; }

  .lckv_media_item {
    height: 103px;
    padding: 15px;
    margin-bottom: 30px; }
    .lckv_media_item .lckv_media_icon {
      width: 72px;
      height: 72px; }
      .lckv_media_item .lckv_media_icon img {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 28px;
        left: 28px; }
    .lckv_media_item .lckv_media_tekst {
      width: calc(100% - 87px);
      padding-left: 15px;
      font-size: 17.4px;
      line-height: 24px;
      padding-top: 16px; }

  .lckv_agenda_item {
    height: 103px;
    margin-bottom: 30px; }
    .lckv_agenda_item .lckv_agenda_datum {
      width: 103px;
      height: 103px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag, .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        width: 100%;
        height: 50%;
        line-height: 49px;
        letter-spacing: -1; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
        padding-top: 6px;
        padding-left: 14px;
        font-size: 32px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        padding-left: 57px;
        font-size: 27px; }
    .lckv_agenda_item .lckv_agenda_tekst {
      width: calc(100% - 103px);
      padding: 15px;
      padding-left: 25px;
      line-height: 21px;
      font-size: 17.4px;
      letter-spacing: -0.1; }
      .lckv_agenda_item .lckv_agenda_tekst h1 {
        font-size: 27px;
        line-height: 27px;
        letter-spacing: 0.2px;
        margin-bottom: 6px; }

  .spelTaxonomy {
    width: 50%; }

  .taxAantal {
    width: 100px;
    float: left;
    padding: 2px; }
    .taxAantal input[type=text] {
      width: 100% !important; }

  .taxMateriaal {
    width: 200px;
    float: left;
    padding: 2px; }
    .taxMateriaal input[type=text] {
      width: 100% !important; }

  .taxOpmerkingen {
    width: 250px;
    float: left;
    padding: 2px; }
    .taxOpmerkingen input[type=text] {
      width: 100% !important; } }

/*# sourceMappingURL=desktop.css.map */
