@media only screen and (max-width: 767px) {
  .verberg_mobiel {
    display: none; }

  .show {
    display: block !important; }

  .fixed {
    position: fixed; }

  .extra_margin {
    margin-top: 45px; }

  header {
    width: 100%;
    height: auto; }
    header #first_header {
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin-left: auto;
      margin-right: auto;
      z-index: 9;
      background: #ffffff;
      top: 0px; }
      header #first_header #search_input {
        display: none !important;
        margin-top: 13px;
        float: right;
        width: 180px;
        height: 31px;
        padding-left: 10px;
        font-size: 17px;
        background-position: 150px center; }
      header #first_header #search_input {
        display: none; }
      header #first_header #header_logo {
        width: 108px;
        height: 35px;
        margin-left: auto;
        margin-right: auto; }
        header #first_header #header_logo #header_logo_img {
          height: 35px;
          margin-top: 3px; }
      header #first_header #mobiel_menu {
        cursor: pointer;
        position: absolute;
        top: 8px;
        left: 5px;
        border-width: 2px;
        border-style: solid;
        border-radius: 2px;
        height: 30px;
        width: 32px;
        text-align: center; }
      header #first_header #mobiel_menu:before {
        border-bottom-width: 12px;
        border-bottom-style: double;
        border-top-width: 4px;
        border-top-style: solid;
        content: "";
        height: 4px;
        position: absolute;
        right: 2px;
        top: 3px;
        width: 24px; }
      header #first_header #hoofd_menu {
        width: 300px;
        height: calc(100% - 45px);
        display: none;
        position: fixed;
        overflow-y: auto;
        top: 45px;
        z-index: 10;
        background: #ffffff; }
        header #first_header #hoofd_menu ul li {
          display: block;
          height: 45px;
          overflow: hidden; }
          header #first_header #hoofd_menu ul li a {
            font-size: 20px;
            padding-left: 20px;
            display: block; }
          header #first_header #hoofd_menu ul li a:hover, header #first_header #hoofd_menu ul li a.actief {
            color: #ffffff; }
          header #first_header #hoofd_menu ul li .children li a {
            padding-left: 40px; }
        header #first_header #hoofd_menu ul li.menuActief a {
          background: #f53c05;
          color: #ffffff; }
        header #first_header #hoofd_menu ul .menuActief {
          height: auto !important; }

  #second_header {
    height: 300px; }
    #second_header .quote {
      font-size: 30px;
      top: 64px; }
    #second_header a.button {
      font-size: 22px;
      top: 120px;
      padding-top: 6px;
      padding-bottom: 7px;
      padding-left: 28px;
      padding-right: 28px; }
    #second_header #mcHeader {
      min-width: 636px;
      min-height: 382px; }

  main {
    width: 100%;
    min-height: calc(100% - 127px); }
    main h1, main h2 {
      font-size: 32px;
      margin-bottom: 21px;
      margin-left: 20px; }
    main #home_nieuws {
      width: 100%; }
      main #home_nieuws .home_samenvatting {
        width: 100%;
        margin-bottom: 30px;
        position: relative; } }
    @media only screen and (max-width: 767px) and (min-width: 481px) {
      main #home_nieuws .home_nieuws_thumb {
        width: 177px;
        height: 117px; }
      main #home_nieuws .home_samenvatting_wrapper {
        width: calc(100% - 225px);
        height: 97px; } }
    @media only screen and (max-width: 767px) and (max-width: 480px) {
      main #home_nieuws .home_nieuws_thumb {
        display: none; }
      main #home_nieuws .home_samenvatting_wrapper {
        width: calc(100% - 55px); } }
@media only screen and (max-width: 767px) {
      main #home_nieuws .home_samenvatting_wrapper {
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 17px;
        letter-spacing: 0.3;
        -webkit-line-clamp: 3; }
        main #home_nieuws .home_samenvatting_wrapper h3 {
          margin-left: 0px;
          font-size: 27px;
          letter-spacing: 0.2px;
          margin-bottom: 6px; } }
        @media only screen and (max-width: 767px) and (min-width: 481px) {
          main #home_nieuws .home_samenvatting_wrapper h3 {
            font-size: 27px; } }
        @media only screen and (max-width: 767px) and (max-width: 480px) {
          main #home_nieuws .home_samenvatting_wrapper h3 {
            font-size: 22px; } }
@media only screen and (max-width: 767px) {
      main #home_nieuws .home_samenvatting:nth-child(3) {
        margin-bototm: 0px !important; }
    main #sidebar_home_1 {
      width: 100%; }
      main #sidebar_home_1 aside {
        margin-bottom: 30px;
        width: 100%;
        float: left; }
    main #sidebar_home_2 {
      width: 100%; }
      main #sidebar_home_2 aside {
        width: 100%;
        margin-bottom: 30px;
        float: left; }
    main #sidebar_home_3 {
      width: 100%;
      margin-bottom: 30px; }
      main #sidebar_home_3 aside {
        width: 100%;
        float: left; }
        main #sidebar_home_3 aside section, main #sidebar_home_3 aside .socialWidget {
          background: #ffffff;
          height: 280px; }
    main #vervolg_content {
      width: 100%;
      margin-bottom: 40px; }
      main #vervolg_content h1 {
        margin-top: 27px;
        margin-bottom: 21px;
        letter-spacing: -0.7px; } }
      @media only screen and (max-width: 767px) and (max-width: 480px) {
        main #vervolg_content h1 {
          margin: 20px; } }
      @media only screen and (max-width: 767px) and (min-width: 481px) {
        main #vervolg_content h1 {
          margin: 40px; } }
@media only screen and (max-width: 767px) {
      main #vervolg_content .page_header {
        width: 100%;
        max-height: 200px; }
        main #vervolg_content .page_header img {
          min-width: 100%;
          height: auto; }
      main #vervolg_content .page_header:after {
        padding-top: 46.15%;
        display: block;
        content: ''; }
      main #vervolg_content .page_content_tekst {
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px; } }
    @media only screen and (max-width: 767px) and (max-width: 480px) {
      main #vervolg_content .page_content_tekst {
        margin: 20px;
        width: calc(100% - 40px); }
        main #vervolg_content .page_content_tekst .special-header {
          margin-left: -20px;
          margin-right: -20px;
          width: calc(100% + 40px);
          padding-left: 20px !important;
          padding-right: 20px !important; } }
    @media only screen and (max-width: 767px) and (min-width: 481px) {
      main #vervolg_content .page_content_tekst {
        margin: 40px;
        width: calc(100% - 80px); }
        main #vervolg_content .page_content_tekst .special-header {
          margin-left: -40px;
          margin-right: -40px;
          width: calc(100% + 80px);
          padding-left: 40px !important;
          padding-right: 40px !important; } }
@media only screen and (max-width: 767px) {
    main .special-header {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px; }
      main .special-header .form-group {
        width: 100%;
        height: 40px; }
      main .special-header .styled-select {
        width: 60%;
        height: 34px; }
      main .special-header label {
        font-size: 16px;
        width: 35%; }
      main .special-header input[type=text] {
        height: 34px;
        width: 60%;
        padding: 6px;
        font-size: 16px; }
      main .special-header.special-header-2-cols .lckv_headerGroup, main .special-header.special-header-3-cols .lckv_headerGroup, main .special-header.special-header-4-cols .lckv_headerGroup {
        margin-right: 10px; } }
      @media only screen and (max-width: 767px) and (min-width: 481px) {
        main .special-header.special-header-2-cols .lckv_headerGroup, main .special-header.special-header-3-cols .lckv_headerGroup, main .special-header.special-header-4-cols .lckv_headerGroup {
          width: calc(50% - 10px); } }
      @media only screen and (max-width: 767px) and (max-width: 480px) {
        main .special-header.special-header-2-cols .lckv_headerGroup, main .special-header.special-header-3-cols .lckv_headerGroup, main .special-header.special-header-4-cols .lckv_headerGroup {
          width: 100%; } }
@media only screen and (max-width: 767px) {
        main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerLabel,
        main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerValue, main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerLabel,
        main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerValue, main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerLabel,
        main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
    main form .special-header .lckv_headerGroup .lckv_headerLabel,
    main form .special-header .lckv_headerGroup .lckv_headerValue {
      line-height: 34px; }

  footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px; }
    footer #footer_navigatie {
      display: none; }

  .groene_pijl h1 {
    display: none; }
  .groene_pijl .groene_pijl_bg {
    height: 135px;
    background-size: 105px;
    line-height: 135px;
    font-size: 30px; }

  .lckv_tekst {
    height: 300px; }
    .lckv_tekst .tabs h2 {
      line-height: 45px;
      font-size: 23px; }
    .lckv_tekst .content {
      height: 255px; }
    .lckv_tekst .tekst {
      font-size: 17px;
      line-height: 24px; }
      .lckv_tekst .tekst ol li, .lckv_tekst .tekst ul li {
        padding-bottom: 10px; }

  .lckv_media h1 {
    display: none; }
  .lckv_media .lckv_media_item {
    height: 93px;
    padding: 10px;
    margin-bottom: 15px; }
    .lckv_media .lckv_media_item .lckv_media_icon {
      width: 72px;
      height: 72px; }
      .lckv_media .lckv_media_item .lckv_media_icon img {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 24px;
        left: 24px; }
    .lckv_media .lckv_media_item .lckv_media_tekst {
      width: calc(100% - 87px);
      padding-left: 15px;
      font-size: 17.4px;
      line-height: 24px;
      padding-top: 11px; }

  .lckv_agenda_item {
    margin-bottom: 30px; }
    .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag, .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
      width: 100%;
      height: 50%;
      line-height: 57px;
      letter-spacing: -1; }
    .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
      padding-top: 6px;
      padding-left: 17px; }
    .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
      padding-left: 62px; }
    .lckv_agenda_item .lckv_agenda_tekst {
      width: calc(100% - 120px);
      padding-left: 30px;
      line-height: 21px;
      letter-spacing: -0.1; }
      .lckv_agenda_item .lckv_agenda_tekst h3 {
        font-style: normal;
        margin-left: 0px;
        letter-spacing: 0.2px; } }
  @media only screen and (max-width: 767px) and (min-width: 481px) {
    .lckv_agenda_item {
      height: 120px; }
      .lckv_agenda_item .lckv_agenda_datum {
        width: 120px;
        height: 120px; }
        .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
          font-size: 37px; }
        .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
          font-size: 30px; }
      .lckv_agenda_item .lckv_agenda_tekst {
        font-size: 18px;
        padding: 23px; }
        .lckv_agenda_item .lckv_agenda_tekst h3 {
          font-size: 27px;
          line-height: 27px;
          margin-bottom: 6px; } }
  @media only screen and (max-width: 767px) and (max-width: 480px) {
    .lckv_agenda_item {
      height: 103px; }
      .lckv_agenda_item .lckv_agenda_datum {
        width: 103px;
        height: 103px; }
        .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
          font-size: 32px; }
        .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
          font-size: 27px; }
      .lckv_agenda_item .lckv_agenda_tekst {
        font-size: 17.4px;
        padding: 5px; }
        .lckv_agenda_item .lckv_agenda_tekst h3 {
          font-size: 22px;
          line-height: 22px;
          margin-bottom: 6px; } }

@media only screen and (max-width: 767px) and (min-width: 481px) {
  .lckv_kaart {
    width: calc(50% - 10px);
    height: 150px;
    margin: 10px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; }

  .lckv_kaart:nth-child(2n + 1) {
    margin-left: 0px; }

  .lckv_kaart:nth-child(2n) {
    margin-right: 0px; } }
@media only screen and (max-width: 767px) and (max-width: 480px) {
  .lckv_kaart {
    width: 100%;
    height: 150px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; } }
@media only screen and (max-width: 767px) {
  .spelTaxonomy,
  .receptTaxonomy {
    width: 100%;
    display: block !important;
    margin-bottom: 10px; }

  .taxAantal,
  .taxMateriaal,
  .taxOpmerkingen {
    width: 100%;
    float: left;
    padding: 2px; }
    .taxAantal input[type=text],
    .taxMateriaal input[type=text],
    .taxOpmerkingen input[type=text] {
      width: 100% !important; }

  .taxRow {
    margin-bottom: 20px; }

  .lckv_vertrektijden_edit_kampnummer {
    width: 100%; }

  .lckv_vertrektijden_edit_correctie,
  .lckv_vertrektijden_edit_nieuwe_tijd,
  .lckv_vertrektijden_edit_tijd {
    line-height: 40px; }

  .lckv_vertrektijden_edit_kampnummer {
    margin-top: 10px; } }

/*# sourceMappingURL=mobiel.css.map */
