@media only screen and (min-width: 481px) and (max-width: 767px) {
  .verberg_mobiel {
    display: none; }

  header {
    width: 100%;
    height: 345px; }
    header #first_header {
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin-left: auto;
      margin-right: auto;
      z-index: 9;
      background: #ffffff;
      top: 0px; }
      header #first_header #header_logo {
        width: 108px;
        height: 35px;
        margin-left: auto;
        margin-right: auto; }
        header #first_header #header_logo #header_logo_img {
          height: 35px;
          margin-top: 3px; }
      header #first_header #mobiel_menu {
        cursor: pointer;
        position: absolute;
        top: 8px;
        left: 5px;
        border: 2px solid #f53c05;
        border-radius: 2px;
        height: 30px;
        width: 32px;
        text-align: center; }
      header #first_header #mobiel_menu:before {
        border-bottom: 12px double #f53c05;
        border-top: 4px solid #f53c05;
        content: "";
        height: 4px;
        position: absolute;
        right: 2px;
        top: 3px;
        width: 24px; }
      header #first_header #hoofd_menu {
        width: 300px;
        min-height: calc(100% - 45px);
        display: none;
        position: absolute;
        top: 45px;
        z-index: 10;
        background: #ffffff; }
        header #first_header #hoofd_menu ul li {
          display: block;
          height: 45px;
          overflow: hidden; }
          header #first_header #hoofd_menu ul li a {
            font-size: 20px;
            padding-left: 20px;
            display: block; }
          header #first_header #hoofd_menu ul li a:hover, header #first_header #hoofd_menu ul li a.actief {
            background: #f53c05;
            color: #ffffff; }
          header #first_header #hoofd_menu ul li .children li a {
            padding-left: 40px; }
        header #first_header #hoofd_menu ul li.menuActief a {
          background: #f53c05;
          color: #ffffff; }
        header #first_header #hoofd_menu ul .menuActief {
          height: auto !important; }
    header #second_header {
      height: 300px; }
      header #second_header .quote {
        font-size: 30px;
        top: 64px; }
      header #second_header a.button {
        font-size: 22px;
        top: 120px;
        padding-top: 6px;
        padding-bottom: 7px;
        padding-left: 28px;
        padding-right: 28px; }

  main {
    width: 100%;
    margin-top: 37px; }
    main h1 {
      font-size: 32px;
      margin-bottom: 21px; }
    main #home_nieuws {
      width: 100%; }
      main #home_nieuws .home_samenvatting {
        width: 100%;
        margin-bottom: 30px;
        position: relative; } }

/*# sourceMappingURL=mobiel1.css.map */
