html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font: inherit;
  vertical-align: baseline;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Gentona';
  src: url("../fonts/light.eot");
  src: url("../fonts/light.eot?#iefix") format("embedded-opentype"), url("../fonts/light.woff") format("woff"), url("../fonts/light.ttf") format("truetype"), url("../fonts/light.svg#light") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Gentona';
  src: url("../fonts/regular.eot");
  src: url("../fonts/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/regular.woff") format("woff"), url("../fonts/regular.ttf") format("truetype"), url("../fonts/regular.svg#regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gentona';
  src: url("../fonts/bold.eot");
  src: url("../fonts/bold.eot?#iefix") format("embedded-opentype"), url("../fonts/bold.woff") format("woff"), url("../fonts/bold.ttf") format("truetype"), url("../fonts/bold.svg#bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gentona';
  src: url("../fonts/italic.eot");
  src: url("../fonts/italic.eot?#iefix") format("embedded-opentype"), url("../fonts/italic.woff") format("woff"), url("../fonts/italic.ttf") format("truetype"), url("../fonts/italic.svg#italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Gentona';
  src: url("../fonts/bolditalic.eot");
  src: url("../fonts/bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/bolditalic.woff") format("woff"), url("../fonts/bolditalic.ttf") format("truetype"), url("../fonts/bolditalic.svg#bolditalic") format("svg");
  font-weight: bold;
  font-style: italic; }
b, strong {
  font-weight: bold; }

i {
  font-style: italic; }

body {
  background: #faf8f6;
  font-family: Gentona; }
  body a:link, body a:visited, body a:active {
    text-decoration: none; }
  body a:hover {
    text-decoration: underline; }

.leesmeer {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  position: absolute;
  bottom: 0px;
  right: 0px; }
  .leesmeer img {
    position: relative;
    top: 27px;
    left: 29px; }

header {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  header #hoofd_menu ul {
    padding: 0px; }
    header #hoofd_menu ul li {
      padding: 0px;
      z-index: 10; }
      header #hoofd_menu ul li a {
        color: #afaaa7;
        letter-spacing: -0.4px; }
      header #hoofd_menu ul li .children {
        display: none;
        z-index: 10; }
      header #hoofd_menu ul li:hover > .children {
        display: block !important; }
  header #search_input {
    box-sizing: border-box;
    font-family: gentona;
    background-image: URL("../images/zoeken.png");
    background-repeat: no-repeat;
    border-color: #afaaa7;
    border-style: solid;
    border-width: 1px; }

#second_header {
  background: #0a1417;
  position: relative;
  text-align: center; }
  #second_header .foto {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -khtml-opacity: .43;
    -moz-opacity: .43;
    -ms-filter: "alpha(opacity=43)";
    filter: alpha(opacity=43);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.43);
    opacity: .43; }
  #second_header .quote {
    display: inline-block;
    width: 100%;
    z-index: 3;
    position: relative;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.1px; }
  #second_header a.button {
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    z-index: 3;
    position: relative;
    border-color: #ffffff;
    border-width: 4px;
    border-style: solid; }

.recipe {
  background: #ffffff;
  width: calc(33% - 10px);
  box-sizing: border-box;
  float: left;
  margin: 10px;
  height: 150px;
  padding: 10px;
  font-family: Gentona;
  line-height: 24px;
  font-size: 17px;
  position: relative;
  cursor: pointer; }
  .recipe .samenvatting {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .recipe .eigenschappen {
    position: absolute;
    bottom: 0px; }
  .recipe .taxo-label {
    width: 20%;
    overflow: hidden;
    display: inline-block; }
  .recipe .taxo-value {
    width: 75%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .recipe h2 {
    font-size: 24px; }
  .recipe:hover {
    background: #eeeeee; }
  .recipe:nth-child(3n) {
    margin-right: 0px; }
  .recipe:nth-child(3n + 1) {
    margin-left: 0px; }

main {
  color: #323232;
  letter-spacing: -0.2px;
  display: block; }
  main article ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    list-style: disc; }
    main article ul li {
      padding-left: 5px; }
  main article .page_content_tekst img {
    max-width: 100%;
    height: auto; }
  main article .page_content_tekst *:not(.negative-magrin, .gm-style *) {
    max-width: 100%; }
  main #home_nieuws {
    float: left; }
    main #home_nieuws .home_samenvatting {
      background: #ffffff;
      float: left;
      cursor: pointer; }
      main #home_nieuws .home_samenvatting .home_nieuws_thumb {
        overflow: hidden;
        position: relative;
        float: left; }
        main #home_nieuws .home_samenvatting .home_nieuws_thumb img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%); }
      main #home_nieuws .home_samenvatting .home_samenvatting_wrapper {
        float: left;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; }
      main #home_nieuws .home_samenvatting:hover {
        background: #eeeeee; }
  main #sidebar_home_1, main #sidebar_home_2, main #sidebar_home_3 {
    float: left; }
  main #sidebar_home_1 aside section, main #sidebar_home_2 aside section, main #sidebar_home_3 aside section {
    overflow: auto; }
  main aside h2 a {
    color: inherit !important; }
  main aside h2 a:hover {
    text-decoration: none !important; }
  main #vervolg_content {
    background: #ffffff;
    float: left;
    /*		.blur_background {
    			width: 100%;
    			height: 100%;
    			position: absolute;
    			overflow: hidden;
    			display: block;
    			   -moz-filter: blur(30px);
    			    -ms-filter: blur(30px);
    			     -o-filter: blur(30px);
    			    	filter: blur(30px);
    			    	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='30');
    			background-size: cover;
    			background-position: center center;
    			background-repeat: repeat;
    */ }
    main #vervolg_content h1 {
      display: inline-block; }
    main #vervolg_content .page_header {
      overflow: hidden;
      position: relative; }
      main #vervolg_content .page_header img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%; }
    main #vervolg_content img.blur_background_img {
      width: 110%;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-filter: blur(30px); }
    main #vervolg_content .page_content_tekst {
      display: inline-block; }
      main #vervolg_content .page_content_tekst h2 {
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 15px;
        color: #ffc300; }
  main #pagina_navigatie {
    background: #ffffff;
    float: left; }
    main #pagina_navigatie ul li a {
      color: #000000; }
  main .page_content_posts_loop {
    float: left; }
  main .special-header {
    color: #ffffff;
    width: 100%;
    display: inline-block; }
    main .special-header h1 {
      color: #ffffff; }
    main .special-header .form-group {
      float: left; }
    main .special-header label {
      font-family: Gentona;
      display: inline-block;
      color: #ffffff;
      float: left;
      line-height: 34px; }
    main .special-header .styled-select {
      display: inline-block;
      overflow: hidden;
      background-image: url("../images/select_arrow_geel.svg");
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center right 10px;
      border: none; }
      main .special-header .styled-select select {
        background: transparent;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 34px;
        -webkit-appearance: none;
        width: 100%;
        font-family: Gentona; }
    main .special-header input[type=text] {
      display: inline-block;
      overflow: hidden;
      background: right #ffffff;
      border: none;
      box-sizing: border-box;
      font-family: gentona; }
      main .special-header input[type=text]:disabled {
        background: #eeeeee !important; }
    main .special-header .lckv_headerGroup {
      box-sizing: border-box;
      float: left;
      height: 100%; }
      main .special-header .lckv_headerGroup .lckv_headerLabel, main .special-header .lckv_headerGroup .lckv_headerValue {
        float: left;
        position: relative;
        display: block; }
        main .special-header .lckv_headerGroup .lckv_headerLabel .inputOverlay, main .special-header .lckv_headerGroup .lckv_headerValue .inputOverlay {
          right: 20px;
          position: absolute;
          top: 0px;
          color: #000; }
    main .special-header .header-form .lckv_headerLabel, main .special-header .header-form .lckv_headerValue {
      height: 40px; }
  main .negative-magrin {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px); }
  main .content-header-extra-padding {
    padding-left: 40px !important;
    padding-right: 40px !important; }
  main .archive-page-navigation > a {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background: #ffffff;
    text-align: center; }
  main .archive-page-navigation:hover {
    background: #f53c05;
    color: #ffffff !important;
    text-decoration: none; }
    main .archive-page-navigation:hover > a {
      background: #f53c05;
      color: #ffffff !important;
      text-decoration: none; }
  main .navigation-next {
    float: right; }
  main .navigation-prev {
    float: left; }

footer {
  float: left;
  background: #72665a; }
  footer #footer_navigatie {
    margin-left: auto;
    margin-right: auto; }
    footer #footer_navigatie .footerblok {
      float: left; }
      footer #footer_navigatie .footerblok ul {
        list-style: none;
        padding: 0px; }
        footer #footer_navigatie .footerblok ul li {
          padding: 0px; }
          footer #footer_navigatie .footerblok ul li a {
            color: #ffffff;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.3px; }
            footer #footer_navigatie .footerblok ul li a:hover {
              text-decoration: underline; }

.col {
  border: 0px solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .col {
    margin-left: 2%;
    padding: 0 1.5%; }

  .row .col:first-child {
    margin-left: 0; }

  .span_1 {
    margin-left: 0;
    width: 100%; } }
@media screen and (min-width: 768px) {
  .col {
    margin-left: 2%;
    padding: 0 1.5%; }

  .row .col:first-child {
    margin-left: 0; }

  .span_1 {
    width: 23.5%; }

  .span_2 {
    width: 49.0%; }

  .span_3 {
    width: 74.5%; }

  .span_4 {
    margin-left: 0;
    width: 100%; } }
input[type=text], input[type=email], input[type=tel] {
  line-height: 22px;
  padding-left: 2px;
  padding-right: 2px;
  border-width: 1px;
  border-color: #afaaa7;
  border-style: solid;
  font-family: gentona;
  font-size: 16px;
  width: 100%; }

textarea {
  line-height: 22px;
  padding-left: 2px;
  padding-right: 2px;
  border-width: 1px;
  border-color: #afaaa7;
  border-style: solid;
  font-family: gentona;
  font-size: 16px;
  width: 100%;
  height: 100px; }

.radio-box {
  border-width: 1px;
  border-color: #afaaa7;
  border-style: solid;
  display: block;
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; }
  .radio-box .radio-box-helft:nth-child(1) {
    border-color: #afaaa7;
    border-width: 0px;
    border-style: solid;
    border-right-width: 1px; }

.lckv_kaart {
  background: #ffffff;
  box-sizing: border-box;
  float: left;
  font-family: gentona;
  position: relative;
  cursor: pointer; }
  .lckv_kaart .lckv_kaart-samenvatting {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .lckv_kaart .lckv_kaart-eigenschappen {
    position: absolute;
    bottom: 0px; }
  .lckv_kaart:hover {
    background: #eeeeee !important; }

/********** Dagtocht plugin **********/
.radio-list {
  border-width: 1px;
  border-bottom-width: 0px !important;
  border-color: #afaaa7;
  border-style: solid; }
  .radio-list label {
    cursor: pointer;
    width: 100%;
    display: block;
    font-size: 16px !important;
    line-height: 30px;
    background: rgba(255, 195, 0, 0.5);
    transition-duration: 0.5s;
    color: #000000;
    padding-left: 15px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #afaaa7;
    border-style: solid; }
  .radio-list label:nth-last-child {
    border-bottom-width: 0px !important; }
  .radio-list label:hover,
  .radio-list label.harmonica-actief {
    background: #ffc300;
    color: #ffffff; }
  .radio-list label.harmonica-actief {
    cursor: default; }
  .radio-list .lckv-dagtocht-harmonica {
    border-bottom-width: 1px;
    border-color: #afaaa7;
    border-style: solid; }
    .radio-list .lckv-dagtocht-harmonica .harmonica-content {
      margin: 15px; }

.featherlight-content .previous, .featherlight-content .next {
  position: absolute;
  bottom: 0px; }
.featherlight-content .previous {
  right: 40px; }
.featherlight-content .next {
  right: 30px; }

input[type=radio].lckv-dt-type,
.lckv-dagtocht-harmonica {
  display: none; }

.lckv-dt-submit {
  background-color: #FFC300;
  border-width: 0px;
  border-style: solid;
  border-color: #FFC300;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: gentona;
  float: right; }

#wp-LCKV_dagtocht_nieuw_content-wrap {
  border-width: 1px;
  border-color: #afaaa7;
  border-style: solid; }

/********** Widgets **********/
.groene_pijl .groene_pijl_bg {
  background: URL("../images/pijlbg.png");
  background-repeat: repeat-x;
  background-position: left center;
  display: block;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  cursor: pointer; }

.lckv_tekst {
  background: #ffc300;
  overflow-x: hidden;
  overflow-y: auto; }
  .lckv_tekst .tekst ul, .lckv_tekst .tekst ol {
    list-style: disc;
    margin-left: 20px; }
  .lckv_tekst .tabs {
    width: 100%;
    display: table;
    table-layout: fixed; }
    .lckv_tekst .tabs h2 {
      background: rgba(91, 91, 91, 0.25);
      color: #ffffff;
      display: table-cell;
      text-align: center;
      cursor: pointer; }
      .lckv_tekst .tabs h2.actief {
        background: none !important; }
  .lckv_tekst .content {
    width: 100%;
    padding: 20px; }

.lckv_media_item {
  background: #ffffff;
  position: relative;
  cursor: pointer; }
  .lckv_media_item .lckv_media_icon {
    border-radius: 50%;
    float: left; }
  .lckv_media_item .lckv_media_tekst {
    float: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; }
  .lckv_media_item:hover {
    background-color: #eeeeee; }

.lckv_agenda_item {
  background: #ffffff;
  position: relative;
  width: 100%; }
  .lckv_agenda_item .lckv_agenda_datum {
    color: #ffffff;
    font-style: italic;
    float: left; }
  .lckv_agenda_item .lckv_agenda_tekst {
    float: left;
    height: 100%;
    font-style: italic; }
    .lckv_agenda_item .lckv_agenda_tekst h1 {
      font-style: normal;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; }

.widgetBox .widgetTable, .fancyTable {
  width: 100%;
  height: 100%;
  border-color: rgba(139, 142, 138, 0.6);
  border-width: 0px;
  border-style: solid; }

.bigTable td, .bigTable th {
  line-height: 30px !important; }

.widgetBox .widgetTable td, .widgetBox .widgetTable th {
  vertical-align: middle !important; }

.fancyTable td, .fancyTable th {
  vertical-align: middle !important; }

.widgetBox .widgetTable th, .fancyTable th {
  line-height: 20px;
  font-weight: bold; }

.widgetBox .widgetTable tr:nth-child(even), .fancyTable tr:nth-child(even) {
  background: none; }

.widgetBox .widgetTable tr:nth-child(odd), .fancyTable tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1); }

.spelTaxonomy, .receptTaxonomy {
  position: relative;
  display: table-cell;
  padding: 5px;
  border-width: 1px;
  border-color: #ffc300;
  border-style: solid; }

.spelTaxonomy h2, .receptTaxonomy h2 {
  margin-left: 15px; }

.spelTaxonomyList, .receptTaxonomyList {
  list-style: none;
  padding: 10px; }

.spelTaxonomies, .receptTaxonomies {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: table;
  border-spacing: 10px; }

.taxTitles, .taxRow {
  width: 100%;
  float: left; }

@media all and (min-width: 1200px) {
  header {
    width: 100%;
    height: auto; }
    header #first_header {
      width: 1160px;
      height: 120px;
      margin-left: auto;
      margin-right: auto; }
      header #first_header #search_input {
        margin-top: 13px;
        float: right;
        width: 200px;
        height: 36px;
        padding-left: 10px;
        font-size: 17px;
        background-position: 170px center; }
      header #first_header #header_logo {
        width: 244px;
        float: left;
        margin-top: 25px; }
        header #first_header #header_logo #header_logo_img {
          height: 70px;
          width: 216px; }
      header #first_header #hoofd_menu {
        float: right;
        margin-top: 26px; }
        header #first_header #hoofd_menu ul li {
          position: relative;
          display: inline-block;
          margin-left: 26px;
          padding-bottom: 23px; }
          header #first_header #hoofd_menu ul li a {
            font-size: 22px; }
          header #first_header #hoofd_menu ul li .children {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 240px;
            position: absolute;
            margin-left: -30px;
            top: 45px; }
            header #first_header #hoofd_menu ul li .children li {
              margin-left: 30px;
              line-height: 30px;
              display: block;
              padding: 0px; }
              header #first_header #hoofd_menu ul li .children li a {
                font-size: 18px !important;
                color: #ffffff; }
                header #first_header #hoofd_menu ul li .children li a:hover {
                  text-decoration: underline; }
            header #first_header #hoofd_menu ul li .children .children {
              margin-left: 210px;
              top: -15px;
              display: none; }
              header #first_header #hoofd_menu ul li .children .children li {
                margin-left: 10px; }
              header #first_header #hoofd_menu ul li .children .children.child-right {
                margin-left: -270px; }
          header #first_header #hoofd_menu ul li .menuToLeft {
            margin-left: -240px !important; }
            header #first_header #hoofd_menu ul li .menuToLeft .children {
              margin-left: -240px !important; }

  #second_header {
    height: 521px; }
    #second_header .quote {
      font-size: 50px;
      top: 229px; }
    #second_header a.button {
      font-size: 28px;
      top: 318px;
      padding-top: 16px;
      padding-bottom: 12px;
      padding-left: 33px;
      padding-right: 33px; }

  main {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 540px); }
    main h1, main h2 {
      font-size: 32px;
      margin-bottom: 21px; }
    main h1.page_title {
      max-width: 620px; }
    main .post-edit-link {
      float: right;
      margin-right: 40px;
      margin-top: 27px;
      font-size: 25px; }
    main .post-edit-link:hover {
      text-decoration: none; }
    main .nieuwe_sectie {
      margin-top: 58px; }
    main #home_nieuws {
      width: 760px;
      margin-right: 40px; }
      main #home_nieuws .home_samenvatting {
        width: 760px;
        margin-top: 30px;
        position: relative; }
        main #home_nieuws .home_samenvatting .home_nieuws_thumb {
          width: 270px;
          height: 180px; }
        main #home_nieuws .home_samenvatting .home_samenvatting_wrapper {
          width: 405px;
          margin-left: 30px;
          margin-right: 0px;
          margin-top: 27px;
          margin-bottom: 27px;
          line-height: 24px;
          font-size: 17px;
          letter-spacing: 0.3;
          -webkit-line-clamp: 3; }
          main #home_nieuws .home_samenvatting .home_samenvatting_wrapper h3 {
            font-size: 27px;
            letter-spacing: 0.2px;
            margin-bottom: 6px; }
        main #home_nieuws .home_samenvatting:nth-child(1) {
          margin-top: 0px; }
    main #sidebar_home_1 {
      width: 360px; }
      main #sidebar_home_1 aside {
        margin-bottom: 30px; }
        main #sidebar_home_1 aside:last-child {
          margin-bottom: 0px !important; }
    main #sidebar_home_2 {
      width: 760px; }
    main #sidebar_home_3 {
      width: 100%;
      margin-bottom: 49px; }
      main #sidebar_home_3 aside {
        width: calc(50% - 20px);
        float: left; }
        main #sidebar_home_3 aside section, main #sidebar_home_3 aside ul {
          background: #ffffff;
          height: 280px;
          padding: 30px;
          text-align: center; }
        main #sidebar_home_3 aside:nth-child(1) {
          margin-right: 40px; }
    main #vervolg_content {
      width: 760px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 40px; }
      main #vervolg_content h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 21px;
        letter-spacing: -0.7px; }
      main #vervolg_content .page_header {
        width: 100%;
        height: 300px; }
      main #vervolg_content .page_content_tekst {
        width: calc(100% - 80px);
        margin: 40px;
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px; }
      main #vervolg_content .special-header {
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        padding-left: 40px !important;
        padding-right: 40px !important; }
    main .page_content_posts_loop {
      width: 760px; }
    main #pagina_navigatie {
      margin-top: 40px;
      width: 360px; }
      main #pagina_navigatie h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 17px;
        letter-spacing: -0.7px; }
      main #pagina_navigatie ul {
        margin: 40px;
        margin-top: 0px; }
        main #pagina_navigatie ul li a {
          font-size: 18px;
          line-height: 30px; }
    main .special-header {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px; }
      main .special-header .form-group {
        width: 33%;
        height: 40px; }
      main .special-header .styled-select {
        width: 60%;
        height: 34px; }
      main .special-header .input-full-width .styled-select,
      main .special-header .input-full-width input {
        width: 100% !important; }
      main .special-header label {
        font-size: 16px;
        width: 35%; }
      main .special-header input[type=text] {
        height: 34px;
        width: 60%;
        padding: 6px;
        font-size: 16px; }
      main .special-header.special-header-2-cols .lckv_headerGroup {
        width: 50%; }
        main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
        main .special-header.special-header-2-cols .lckv_headerGroup.two-cols {
          width: 100%; }
          main .special-header.special-header-2-cols .lckv_headerGroup.two-cols .single-col {
            width: 25%; }
          main .special-header.special-header-2-cols .lckv_headerGroup.two-cols .double-col {
            width: 50%; }
          main .special-header.special-header-2-cols .lckv_headerGroup.two-cols .triple-col {
            width: 75%; }
          main .special-header.special-header-2-cols .lckv_headerGroup.two-cols .quadruple-col {
            width: 100%; }
      main .special-header.special-header-3-cols .lckv_headerGroup {
        width: calc(33% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
      main .special-header.special-header-4-cols .lckv_headerGroup {
        width: calc(25% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
      main .special-header .lckv_headerGroup {
        width: 33%; }
        main .special-header .lckv_headerGroup .lckv_headerLabel, main .special-header .lckv_headerGroup .lckv_headerValue {
          padding-right: 10px;
          width: 50%; }
    main form .special-header .lckv_headerGroup .lckv_headerLabel, main form .special-header .lckv_headerGroup .lckv_headerValue {
      line-height: 34px; }
    main .navigation-box {
      float: left;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px; }

  footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px; }
    footer #footer_navigatie {
      width: 1160px; }
      footer #footer_navigatie .footerblok {
        margin-right: 45px;
        width: calc(16% - 30px); }
        footer #footer_navigatie .footerblok .parent_page {
          font-size: 24px;
          display: inline-block;
          margin-bottom: 6px; }
        footer #footer_navigatie .footerblok ul li a {
          color: #ffffff;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.3px; }
        footer #footer_navigatie .footerblok:last-child {
          margin-right: 0px !important; }

  .lckv_kaart {
    width: calc(33% - 10px);
    height: 150px;
    margin: 10px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; }
    .lckv_kaart:nth-child(3n + 1) {
      margin-left: 0px; }
    .lckv_kaart:nth-child(3n) {
      margin-right: 0px; }

  /********** Dagtochten plugin **********/
  .lckv-dt-map {
    width: 100%;
    height: 600px; }

  /********** Widgets **********/
  .groene_pijl {
    width: 100%; }
    .groene_pijl .groene_pijl_bg {
      height: 180px;
      background-size: 105px;
      line-height: 180px;
      font-size: 36px; }

  .lckv_tekst {
    height: 390px; }
    .lckv_tekst .tabs h2 {
      line-height: 60px;
      font-size: 27px; }
    .lckv_tekst .content {
      height: 330px; }
    .lckv_tekst .tekst {
      font-size: 17px;
      line-height: 24px; }

  .lckv_media_item {
    height: 120px;
    padding: 18px;
    margin-bottom: 30px; }
    .lckv_media_item .lckv_media_icon {
      width: 84px;
      height: 84px; }
      .lckv_media_item .lckv_media_icon img {
        width: 52px;
        height: 52px;
        position: absolute;
        top: 34px;
        left: 34px; }
    .lckv_media_item .lckv_media_tekst {
      width: calc(100% - 104px);
      padding-left: 18px;
      font-size: 20.2px;
      line-height: 28px;
      padding-top: 16px; }

  .lckv_agenda_item {
    height: 120px;
    margin-bottom: 30px; }
    .lckv_agenda_item .lckv_agenda_datum {
      width: 120px;
      height: 120px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag, .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        width: 100%;
        height: 50%;
        line-height: 57px;
        letter-spacing: -1; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
        padding-top: 6px;
        padding-left: 17px;
        font-size: 37px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        padding-left: 62px;
        font-size: 30px; }
    .lckv_agenda_item .lckv_agenda_tekst {
      width: calc(100% - 120px);
      padding: 23px;
      padding-left: 30px;
      line-height: 26px;
      font-size: 18px;
      letter-spacing: -0.1; }
      .lckv_agenda_item .lckv_agenda_tekst h3 {
        font-style: normal;
        font-size: 27px;
        letter-spacing: 0.2px;
        margin-bottom: 6px; }

  .spelTaxonomy {
    width: 50%; }

  .receptTaxonomy {
    width: 33.33%; }

  .taxAantal {
    width: 100px;
    float: left;
    padding: 2px; }
    .taxAantal input[type=text] {
      width: 100% !important; }

  .taxMateriaal {
    width: 250px;
    float: left;
    padding: 2px; }
    .taxMateriaal input[type=text] {
      width: 100% !important; }

  .taxOpmerkingen {
    width: 330px;
    float: left;
    padding: 2px; }
    .taxOpmerkingen input[type=text] {
      width: 100% !important; } }
@media all and (min-width: 980px) and (max-width: 1199px) {
  header {
    width: 100%;
    height: auto; }
    header #first_header {
      width: 960px;
      height: 120px;
      margin-left: auto;
      margin-right: auto; }
      header #first_header #search_input {
        margin-top: 13px;
        float: right;
        width: 180px;
        height: 31px;
        padding-left: 10px;
        font-size: 17px;
        background-position: 150px center; }
      header #first_header #header_logo {
        width: 185px;
        float: left;
        margin-top: 30px; }
        header #first_header #header_logo #header_logo_img {
          width: 185px;
          height: 60px; }
      header #first_header #hoofd_menu {
        float: right;
        margin-top: 31px; }
        header #first_header #hoofd_menu ul li {
          position: relative;
          display: inline-block;
          margin-left: 15px;
          padding-bottom: 25px; }
          header #first_header #hoofd_menu ul li a {
            font-size: 20px; }
          header #first_header #hoofd_menu ul li .children {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 240px;
            position: absolute;
            margin-left: -30px;
            top: 45px; }
            header #first_header #hoofd_menu ul li .children li {
              margin-left: 30px;
              line-height: 30px;
              display: block;
              padding: 0px; }
              header #first_header #hoofd_menu ul li .children li a {
                font-size: 18px !important;
                color: #ffffff; }
                header #first_header #hoofd_menu ul li .children li a:hover {
                  text-decoration: underline; }
            header #first_header #hoofd_menu ul li .children .children {
              margin-left: 210px;
              top: -15px;
              display: none; }
              header #first_header #hoofd_menu ul li .children .children li {
                margin-left: 10px; }
              header #first_header #hoofd_menu ul li .children .children.child-right {
                margin-left: -270px; }

  #second_header {
    height: 521px; }
    #second_header .quote {
      font-size: 50px;
      top: 229px; }
    #second_header a.button {
      font-size: 28px;
      top: 318px;
      padding-top: 16px;
      padding-bottom: 12px;
      padding-left: 33px;
      padding-right: 33px; }

  main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 540px); }
    main h1, main h2 {
      font-size: 32px;
      margin-bottom: 21px; }
    main .nieuwe_sectie {
      margin-top: 50px; }
    main #home_nieuws {
      width: 630px;
      margin-right: 20px; }
      main #home_nieuws .home_samenvatting {
        width: 630px;
        margin-bottom: 30px;
        position: relative; }
        main #home_nieuws .home_samenvatting .home_nieuws_thumb {
          width: 205px;
          height: 135px; }
        main #home_nieuws .home_samenvatting .home_samenvatting_wrapper {
          width: 340px;
          margin-left: 30px;
          margin-right: 0px;
          margin-top: 19px;
          margin-bottom: 18px;
          height: 98px;
          line-height: 24px;
          font-size: 17px;
          letter-spacing: 0.3;
          -webkit-line-clamp: 3; }
          main #home_nieuws .home_samenvatting .home_samenvatting_wrapper h3 {
            font-size: 27px;
            letter-spacing: 0.2px;
            margin-bottom: 6px; }
      main #home_nieuws .home_samenvatting:nth-child(4) {
        margin-bottom: 0px !important; }
    main #sidebar_home_1 {
      width: 310px; }
      main #sidebar_home_1 aside {
        margin-bottom: 30px; }
    main #sidebar_home_2 {
      width: 100%; }
    main #sidebar_home_3 {
      width: 100%;
      margin-bottom: 49px; }
      main #sidebar_home_3 aside {
        width: calc(50% - 10px);
        float: left; }
        main #sidebar_home_3 aside section, main #sidebar_home_3 aside .socialWidget {
          background: #ffffff;
          height: 280px; }
      main #sidebar_home_3 aside:nth-child(1) {
        margin-right: 20px; }
    main #vervolg_content {
      width: 630px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 20px; }
      main #vervolg_content h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 21px;
        letter-spacing: -0.7px; }
      main #vervolg_content .page_header {
        width: 100%;
        height: 300px; }
      main #vervolg_content .page_content_tekst {
        margin: 40px;
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px;
        width: calc(100% - 80px); }
        main #vervolg_content .page_content_tekst .special-header {
          width: calc(100% + 80px);
          margin-left: -40px;
          margin-right: -40px;
          padding-left: 40px !important;
          padding-right: 40px !important; }
    main #pagina_navigatie {
      margin-top: 40px;
      width: 310px; }
      main #pagina_navigatie h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 17px;
        letter-spacing: -0.7px; }
      main #pagina_navigatie ul {
        margin: 40px;
        margin-top: 0px; }
        main #pagina_navigatie ul li a {
          font-size: 18px;
          line-height: 30px; }
    main .special-header {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px; }
      main .special-header .form-group {
        width: 33%;
        height: 40px; }
      main .special-header .styled-select {
        width: 60%;
        height: 34px; }
      main .special-header label {
        font-size: 16px;
        width: 35%; }
      main .special-header input[type=text] {
        height: 34px;
        width: 60%;
        padding: 6px;
        font-size: 16px; }
      main .special-header.special-header-2-cols .lckv_headerGroup {
        width: calc(50% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
      main .special-header.special-header-3-cols .lckv_headerGroup {
        width: calc(50% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
      main .special-header.special-header-4-cols .lckv_headerGroup {
        width: calc(25% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
    main form .special-header .lckv_headerGroup .lckv_headerLabel,
    main form .special-header .lckv_headerGroup .lckv_headerValue {
      line-height: 34px; }

  footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px; }
    footer #footer_navigatie {
      width: 960px;
      display: table; }
      footer #footer_navigatie .footerblok {
        margin-right: 10px;
        display: table-cell; }
        footer #footer_navigatie .footerblok .parent_page {
          font-size: 24px;
          display: inline-block;
          margin-bottom: 6px; }
        footer #footer_navigatie .footerblok ul li a {
          color: #ffffff;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.3px; }
      footer #footer_navigatie .footerblok:last-child {
        margin-right: 0px !important; }

  .lckv_kaart {
    width: calc(33% - 4px);
    height: 150px;
    margin: 5px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; }

  .lckv_kaart:nth-child(3n + 1) {
    margin-left: 0px; }

  .lckv_kaart:nth-child(3n) {
    margin-right: 0px;
    margin-left: 6px; }

  /********** Widgets **********/
  .groene_pijl {
    width: 100%; }
    .groene_pijl .groene_pijl_bg {
      height: 135px;
      background-size: 105px;
      line-height: 135px;
      font-size: 30px; }

  .lckv_tekst {
    height: 300px; }
    .lckv_tekst .tabs h2 {
      line-height: 45px;
      font-size: 23px; }
    .lckv_tekst .content {
      height: 255px; }
    .lckv_tekst .tekst {
      font-size: 17px;
      line-height: 24px; }

  .lckv_media_item {
    height: 103px;
    padding: 15px;
    margin-bottom: 30px; }
    .lckv_media_item .lckv_media_icon {
      width: 72px;
      height: 72px; }
      .lckv_media_item .lckv_media_icon img {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 28px;
        left: 28px; }
    .lckv_media_item .lckv_media_tekst {
      width: calc(100% - 87px);
      padding-left: 15px;
      font-size: 17.4px;
      line-height: 24px;
      padding-top: 16px; }

  .lckv_agenda_item {
    height: 103px;
    margin-bottom: 30px; }
    .lckv_agenda_item .lckv_agenda_datum {
      width: 103px;
      height: 103px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag, .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        width: 100%;
        height: 50%;
        line-height: 49px;
        letter-spacing: -1; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
        padding-top: 6px;
        padding-left: 14px;
        font-size: 32px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        padding-left: 57px;
        font-size: 27px; }
    .lckv_agenda_item .lckv_agenda_tekst {
      width: calc(100% - 103px);
      padding: 15px;
      padding-left: 25px;
      line-height: 21px;
      font-size: 17.4px;
      letter-spacing: -0.1; }
      .lckv_agenda_item .lckv_agenda_tekst h3 {
        font-style: normal;
        font-size: 27px;
        line-height: 27px;
        letter-spacing: 0.2px;
        margin-bottom: 6px; }

  .spelTaxonomy {
    width: 50%; }

  .taxAantal {
    width: 100px;
    float: left;
    padding: 2px; }
    .taxAantal input[type=text] {
      width: 100% !important; }

  .taxMateriaal {
    width: 200px;
    float: left;
    padding: 2px; }
    .taxMateriaal input[type=text] {
      width: 100% !important; }

  .taxOpmerkingen {
    width: 250px;
    float: left;
    padding: 2px; }
    .taxOpmerkingen input[type=text] {
      width: 100% !important; } }
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .verberg_tablet {
    display: none; }

  header {
    width: 100%;
    height: auto; }
    header #first_header {
      width: 748px;
      height: 120px;
      margin-left: auto;
      margin-right: auto; }
      header #first_header #search_input {
        margin-top: 13px;
        float: right;
        width: 180px;
        height: 31px;
        padding-left: 10px;
        font-size: 17px;
        background-position: 150px center; }
      header #first_header #header_logo {
        width: 139px;
        float: left;
        margin-top: 15px; }
        header #first_header #header_logo #header_logo_img {
          height: 45px;
          width: 139px; }
      header #first_header #hoofd_menu {
        position: absolute;
        top: 75px;
        z-index: 10; }
        header #first_header #hoofd_menu ul li {
          position: relative;
          display: inline-block;
          margin-right: 15px;
          padding-bottom: 25px; }
          header #first_header #hoofd_menu ul li a {
            font-size: 20px; }
          header #first_header #hoofd_menu ul li .children {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 240px;
            position: absolute;
            left: -20px;
            top: 45px; }
            header #first_header #hoofd_menu ul li .children li {
              margin-left: 20px;
              line-height: 30px;
              display: block;
              padding: 0px; }
              header #first_header #hoofd_menu ul li .children li a {
                font-size: 18px !important;
                color: #ffffff; }
              header #first_header #hoofd_menu ul li .children li a:hover {
                text-decoration: underline; }
            header #first_header #hoofd_menu ul li .children .children {
              margin-left: 210px;
              top: -15px;
              display: none; }
              header #first_header #hoofd_menu ul li .children .children li {
                margin-left: 10px; }
              header #first_header #hoofd_menu ul li .children .children.child-right {
                margin-left: -270px; }

  #second_header {
    height: 470px; }
    #second_header .quote {
      font-size: 40px;
      top: 204px; }
    #second_header a.button {
      font-size: 28px;
      top: 293px;
      padding-top: 16px;
      padding-bottom: 12px;
      padding-left: 33px;
      padding-right: 33px; }

  main {
    width: 748px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 202px); }
    main h1, main h2 {
      font-size: 32px;
      margin-bottom: 21px; }
    main #home_nieuws {
      width: 100%;
      margin-right: 20px; }
      main #home_nieuws .home_samenvatting {
        width: 100%;
        margin-bottom: 30px;
        position: relative; }
        main #home_nieuws .home_samenvatting .home_nieuws_thumb {
          width: 205px;
          height: 135px; }
        main #home_nieuws .home_samenvatting .home_samenvatting_wrapper {
          width: calc(100% - 285px);
          margin-left: 30px;
          margin-right: 0px;
          margin-top: 19px;
          margin-bottom: 18px;
          height: 98px;
          line-height: 24px;
          font-size: 17px;
          letter-spacing: 0.3;
          -webkit-line-clamp: 3; }
          main #home_nieuws .home_samenvatting .home_samenvatting_wrapper h3 {
            font-size: 27px;
            letter-spacing: 0.2px;
            margin-bottom: 6px; }
      main #home_nieuws .home_samenvatting:nth-child(3) {
        margin-bototm: 0px !important; }
    main #sidebar_home_1 {
      width: 100%;
      /*******************************/
      /* MARGIN OM EN OM, WERKT NIET */
      /*******************************
      			aside,
      			aside.verberg_tablet:nth-child(even) + aside:nth-of-type(odd) + aside:nth-of-type(even),
      			aside.verberg_tablet:nth-child(even) + aside.verberg_tablet:nth-child(odd) ~ aside:nth-of-type(odd) {
      				margin-right: 20px;
      			}
      
      			aside:nth-child(even),
      			aside.verberg_tablet:nth-child(even) ~ aside:nth-of-type(odd), aside.verberg_tablet:nth-child(even) + aside.verberg_tablet:nth-child(odd) ~ aside:nth-of-type(even) { 
      				margin-right: 0px;
      			}
      */ }
      main #sidebar_home_1 aside {
        margin-bottom: 30px;
        width: calc(50% - 10px);
        float: left; }
    main #sidebar_home_2 {
      width: 100%; }
      main #sidebar_home_2 aside {
        width: 100%;
        margin-bottom: 30px;
        float: left; }
    main #sidebar_home_3 {
      width: 100%;
      margin-bottom: 30px; }
      main #sidebar_home_3 aside {
        width: calc(50% - 10px);
        float: left; }
        main #sidebar_home_3 aside section, main #sidebar_home_3 aside .socialWidget {
          background: #ffffff;
          height: 280px; }
      main #sidebar_home_3 aside:nth-child(1) {
        margin-right: 20px; }
    main #vervolg_content {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px; }
      main #vervolg_content h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 21px;
        letter-spacing: -0.7px; }
      main #vervolg_content .page_header {
        width: 100%;
        height: 300px; }
      main #vervolg_content .page_content_tekst {
        margin: 40px;
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px;
        width: calc(100% - 80px); }
        main #vervolg_content .page_content_tekst .special-header {
          width: calc(100% + 80px);
          margin-left: -40px;
          margin-right: -40px;
          padding-left: 40px !important;
          padding-right: 40px !important; }
    main .special-header {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px; }
      main .special-header .form-group {
        width: 50%;
        height: 40px; }
      main .special-header .styled-select {
        width: 60%;
        height: 34px; }
      main .special-header label {
        font-size: 16px;
        width: 35%; }
      main .special-header input[type=text] {
        height: 34px;
        width: 60%;
        padding: 6px;
        font-size: 16px; }
      main .special-header.special-header-2-cols .lckv_headerGroup {
        width: calc(50% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
      main .special-header.special-header-3-cols .lckv_headerGroup {
        width: calc(33% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
      main .special-header.special-header-4-cols .lckv_headerGroup {
        width: calc(25% - 10px);
        margin-right: 10px; }
        main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerLabel, main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
    main form .special-header .lckv_headerGroup .lckv_headerLabel,
    main form .special-header .lckv_headerGroup .lckv_headerValue {
      line-height: 34px; }

  footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px; }
    footer #footer_navigatie {
      display: none; }

  .lckv_kaart {
    width: calc(50% - 10px);
    height: 150px;
    margin: 10px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; }

  .lckv_kaart:nth-child(2n + 1) {
    margin-left: 0px; }

  .lckv_kaart:nth-child(2n) {
    margin-right: 0px; }

  /********** Widgets **********/
  .groene_pijl h1 {
    display: none; }
  .groene_pijl .groene_pijl_bg {
    height: 135px;
    background-size: 105px;
    line-height: 135px;
    font-size: 30px; }

  .lckv_tekst {
    height: 300px;
    margin-top: 53px;
    /********************************************************/
    /****** VERWIJDEREN, BOVENSTAANDE COMMENTS FIXEN ********/
    /********************************************************/
    margin-right: 20px;
    /********************************************************/
    /********************************************************/
    /********************************************************/ }
    .lckv_tekst .tekst {
      font-size: 17px;
      line-height: 24px; }
    .lckv_tekst .tabs h2 {
      line-height: 45px;
      font-size: 23px; }
    .lckv_tekst .content {
      height: 255px; }

  .lckv_media h1 {
    display: none; }
  .lckv_media .lckv_media_item {
    height: 93px;
    padding: 10px;
    margin-bottom: 10px; }
    .lckv_media .lckv_media_item .lckv_media_icon {
      width: 72px;
      height: 72px; }
      .lckv_media .lckv_media_item .lckv_media_icon img {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 24px;
        left: 24px; }
    .lckv_media .lckv_media_item .lckv_media_tekst {
      width: calc(100% - 87px);
      padding-left: 15px;
      font-size: 17.4px;
      line-height: 24px;
      padding-top: 11px; }

  .lckv_agenda_item {
    height: 120px;
    margin-bottom: 30px; }
    .lckv_agenda_item .lckv_agenda_datum {
      width: 120px;
      height: 120px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag, .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        width: 100%;
        height: 50%;
        line-height: 57px;
        letter-spacing: -1; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
        padding-top: 6px;
        padding-left: 17px;
        font-size: 37px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        padding-left: 62px;
        font-size: 30px; }
    .lckv_agenda_item .lckv_agenda_tekst {
      width: calc(100% - 120px);
      padding: 23px;
      padding-left: 30px;
      line-height: 26px;
      font-size: 18px;
      letter-spacing: -0.1; }
      .lckv_agenda_item .lckv_agenda_tekst h3 {
        font-style: normal;
        font-size: 27px;
        letter-spacing: 0.2px;
        margin-bottom: 6px; }

  .spelTaxonomy {
    width: 50%; }

  .taxAantal {
    width: 100px;
    float: left;
    padding: 2px; }
    .taxAantal input[type=text] {
      width: 100% !important; }

  .taxMateriaal {
    width: 250px;
    float: left;
    padding: 2px; }
    .taxMateriaal input[type=text] {
      width: 100% !important; }

  .taxOpmerkingen {
    width: 310px;
    float: left;
    padding: 2px; }
    .taxOpmerkingen input[type=text] {
      width: 100% !important; } }
@media only screen and (max-width: 767px) {
  .verberg_mobiel {
    display: none; }

  .show {
    display: block !important; }

  .fixed {
    position: fixed; }

  .extra_margin {
    margin-top: 45px; }

  header {
    width: 100%;
    height: auto; }
    header #first_header {
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin-left: auto;
      margin-right: auto;
      z-index: 9;
      background: #ffffff;
      top: 0px; }
      header #first_header #search_input {
        display: none !important;
        margin-top: 13px;
        float: right;
        width: 180px;
        height: 31px;
        padding-left: 10px;
        font-size: 17px;
        background-position: 150px center; }
      header #first_header #search_input {
        display: none; }
      header #first_header #header_logo {
        width: 108px;
        height: 35px;
        margin-left: auto;
        margin-right: auto; }
        header #first_header #header_logo #header_logo_img {
          height: 35px;
          margin-top: 3px; }
      header #first_header #mobiel_menu {
        cursor: pointer;
        position: absolute;
        top: 8px;
        left: 5px;
        border-width: 2px;
        border-style: solid;
        border-radius: 2px;
        height: 30px;
        width: 32px;
        text-align: center; }
      header #first_header #mobiel_menu:before {
        border-bottom-width: 12px;
        border-bottom-style: double;
        border-top-width: 4px;
        border-top-style: solid;
        content: "";
        height: 4px;
        position: absolute;
        right: 2px;
        top: 3px;
        width: 24px; }
      header #first_header #hoofd_menu {
        width: 300px;
        height: calc(100% - 45px);
        display: none;
        position: fixed;
        overflow-y: auto;
        top: 45px;
        z-index: 10;
        background: #ffffff; }
        header #first_header #hoofd_menu ul li {
          display: block;
          height: 45px;
          overflow: hidden; }
          header #first_header #hoofd_menu ul li a {
            font-size: 20px;
            padding-left: 20px;
            display: block; }
          header #first_header #hoofd_menu ul li a:hover, header #first_header #hoofd_menu ul li a.actief {
            color: #ffffff; }
          header #first_header #hoofd_menu ul li .children li a {
            padding-left: 40px; }
        header #first_header #hoofd_menu ul li.menuActief a {
          background: #f53c05;
          color: #ffffff; }
        header #first_header #hoofd_menu ul .menuActief {
          height: auto !important; }

  #second_header {
    height: 300px; }
    #second_header .quote {
      font-size: 30px;
      top: 64px; }
    #second_header a.button {
      font-size: 22px;
      top: 120px;
      padding-top: 6px;
      padding-bottom: 7px;
      padding-left: 28px;
      padding-right: 28px; }

  main {
    width: 100%;
    min-height: calc(100% - 127px); }
    main h1, main h2 {
      font-size: 32px;
      margin-bottom: 21px;
      margin-left: 20px; }
    main #home_nieuws {
      width: 100%; }
      main #home_nieuws .home_samenvatting {
        width: 100%;
        margin-bottom: 30px;
        position: relative; } }
    @media only screen and (max-width: 767px) and (min-width: 481px) {
      main #home_nieuws .home_nieuws_thumb {
        width: 177px;
        height: 117px; }
      main #home_nieuws .home_samenvatting_wrapper {
        width: calc(100% - 225px);
        height: 97px; } }
    @media only screen and (max-width: 767px) and (max-width: 480px) {
      main #home_nieuws .home_nieuws_thumb {
        display: none; }
      main #home_nieuws .home_samenvatting_wrapper {
        width: calc(100% - 55px); } }
@media only screen and (max-width: 767px) {
      main #home_nieuws .home_samenvatting_wrapper {
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 17px;
        letter-spacing: 0.3;
        -webkit-line-clamp: 3; }
        main #home_nieuws .home_samenvatting_wrapper h3 {
          margin-left: 0px;
          font-size: 27px;
          letter-spacing: 0.2px;
          margin-bottom: 6px; } }
        @media only screen and (max-width: 767px) and (min-width: 481px) {
          main #home_nieuws .home_samenvatting_wrapper h3 {
            font-size: 27px; } }
        @media only screen and (max-width: 767px) and (max-width: 480px) {
          main #home_nieuws .home_samenvatting_wrapper h3 {
            font-size: 22px; } }
@media only screen and (max-width: 767px) {
      main #home_nieuws .home_samenvatting:nth-child(3) {
        margin-bototm: 0px !important; }
    main #sidebar_home_1 {
      width: 100%; }
      main #sidebar_home_1 aside {
        margin-bottom: 30px;
        width: 100%;
        float: left; }
    main #sidebar_home_2 {
      width: 100%; }
      main #sidebar_home_2 aside {
        width: 100%;
        margin-bottom: 30px;
        float: left; }
    main #sidebar_home_3 {
      width: 100%;
      margin-bottom: 30px; }
      main #sidebar_home_3 aside {
        width: 100%;
        float: left; }
        main #sidebar_home_3 aside section, main #sidebar_home_3 aside .socialWidget {
          background: #ffffff;
          height: 280px; }
    main #vervolg_content {
      width: 100%;
      margin-bottom: 40px; }
      main #vervolg_content h1 {
        margin-top: 27px;
        margin-bottom: 21px;
        letter-spacing: -0.7px; } }
      @media only screen and (max-width: 767px) and (max-width: 480px) {
        main #vervolg_content h1 {
          margin: 20px; } }
      @media only screen and (max-width: 767px) and (min-width: 481px) {
        main #vervolg_content h1 {
          margin: 40px; } }
@media only screen and (max-width: 767px) {
      main #vervolg_content .page_header {
        width: 100%;
        max-height: 200px; }
        main #vervolg_content .page_header img {
          min-width: 100%;
          height: auto; }
      main #vervolg_content .page_header:after {
        padding-top: 46.15%;
        display: block;
        content: ''; }
      main #vervolg_content .page_content_tekst {
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px; } }
    @media only screen and (max-width: 767px) and (max-width: 480px) {
      main #vervolg_content .page_content_tekst {
        margin: 20px;
        width: calc(100% - 40px); }
        main #vervolg_content .page_content_tekst .special-header {
          margin-left: -20px;
          margin-right: -20px;
          width: calc(100% + 40px);
          padding-left: 20px !important;
          padding-right: 20px !important; } }
    @media only screen and (max-width: 767px) and (min-width: 481px) {
      main #vervolg_content .page_content_tekst {
        margin: 40px;
        width: calc(100% - 80px); }
        main #vervolg_content .page_content_tekst .special-header {
          margin-left: -40px;
          margin-right: -40px;
          width: calc(100% + 80px);
          padding-left: 40px !important;
          padding-right: 40px !important; } }
@media only screen and (max-width: 767px) {
    main .special-header {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px; }
      main .special-header .form-group {
        width: 100%;
        height: 40px; }
      main .special-header .styled-select {
        width: 60%;
        height: 34px; }
      main .special-header label {
        font-size: 16px;
        width: 35%; }
      main .special-header input[type=text] {
        height: 34px;
        width: 60%;
        padding: 6px;
        font-size: 16px; }
      main .special-header.special-header-2-cols .lckv_headerGroup, main .special-header.special-header-3-cols .lckv_headerGroup, main .special-header.special-header-4-cols .lckv_headerGroup {
        margin-right: 10px; } }
      @media only screen and (max-width: 767px) and (min-width: 481px) {
        main .special-header.special-header-2-cols .lckv_headerGroup, main .special-header.special-header-3-cols .lckv_headerGroup, main .special-header.special-header-4-cols .lckv_headerGroup {
          width: calc(50% - 10px); } }
      @media only screen and (max-width: 767px) and (max-width: 480px) {
        main .special-header.special-header-2-cols .lckv_headerGroup, main .special-header.special-header-3-cols .lckv_headerGroup, main .special-header.special-header-4-cols .lckv_headerGroup {
          width: 100%; } }
@media only screen and (max-width: 767px) {
        main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerLabel,
        main .special-header.special-header-2-cols .lckv_headerGroup .lckv_headerValue, main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerLabel,
        main .special-header.special-header-3-cols .lckv_headerGroup .lckv_headerValue, main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerLabel,
        main .special-header.special-header-4-cols .lckv_headerGroup .lckv_headerValue {
          width: 50%; }
    main form .special-header .lckv_headerGroup .lckv_headerLabel,
    main form .special-header .lckv_headerGroup .lckv_headerValue {
      line-height: 34px; }

  footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px; }
    footer #footer_navigatie {
      display: none; }

  .groene_pijl h1 {
    display: none; }
  .groene_pijl .groene_pijl_bg {
    height: 135px;
    background-size: 105px;
    line-height: 135px;
    font-size: 30px; }

  .lckv_tekst {
    height: 300px; }
    .lckv_tekst .tabs h2 {
      line-height: 45px;
      font-size: 23px; }
    .lckv_tekst .content {
      height: 255px; }
    .lckv_tekst .tekst {
      font-size: 17px;
      line-height: 24px; }
      .lckv_tekst .tekst ol li, .lckv_tekst .tekst ul li {
        padding-bottom: 10px; }

  .lckv_media h1 {
    display: none; }
  .lckv_media .lckv_media_item {
    height: 93px;
    padding: 10px;
    margin-bottom: 15px; }
    .lckv_media .lckv_media_item .lckv_media_icon {
      width: 72px;
      height: 72px; }
      .lckv_media .lckv_media_item .lckv_media_icon img {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 24px;
        left: 24px; }
    .lckv_media .lckv_media_item .lckv_media_tekst {
      width: calc(100% - 87px);
      padding-left: 15px;
      font-size: 17.4px;
      line-height: 24px;
      padding-top: 11px; }

  .lckv_agenda_item {
    margin-bottom: 30px; }
    .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag, .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
      width: 100%;
      height: 50%;
      line-height: 57px;
      letter-spacing: -1; }
    .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
      padding-top: 6px;
      padding-left: 17px; }
    .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
      padding-left: 62px; }
    .lckv_agenda_item .lckv_agenda_tekst {
      width: calc(100% - 120px);
      padding-left: 30px;
      line-height: 21px;
      letter-spacing: -0.1; }
      .lckv_agenda_item .lckv_agenda_tekst h3 {
        font-style: normal;
        margin-left: 0px;
        letter-spacing: 0.2px; } }
  @media only screen and (max-width: 767px) and (min-width: 481px) {
    .lckv_agenda_item {
      height: 120px; }
      .lckv_agenda_item .lckv_agenda_datum {
        width: 120px;
        height: 120px; }
        .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
          font-size: 37px; }
        .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
          font-size: 30px; }
      .lckv_agenda_item .lckv_agenda_tekst {
        font-size: 18px;
        padding: 23px; }
        .lckv_agenda_item .lckv_agenda_tekst h3 {
          font-size: 27px;
          line-height: 27px;
          margin-bottom: 6px; } }
  @media only screen and (max-width: 767px) and (max-width: 480px) {
    .lckv_agenda_item {
      height: 103px; }
      .lckv_agenda_item .lckv_agenda_datum {
        width: 103px;
        height: 103px; }
        .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
          font-size: 32px; }
        .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
          font-size: 27px; }
      .lckv_agenda_item .lckv_agenda_tekst {
        font-size: 17.4px;
        padding: 5px; }
        .lckv_agenda_item .lckv_agenda_tekst h3 {
          font-size: 22px;
          line-height: 22px;
          margin-bottom: 6px; } }

@media only screen and (max-width: 767px) and (min-width: 481px) {
  .lckv_kaart {
    width: calc(50% - 10px);
    height: 150px;
    margin: 10px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; }

  .lckv_kaart:nth-child(2n + 1) {
    margin-left: 0px; }

  .lckv_kaart:nth-child(2n) {
    margin-right: 0px; } }
@media only screen and (max-width: 767px) and (max-width: 480px) {
  .lckv_kaart {
    width: 100%;
    height: 150px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    line-height: 24px;
    font-size: 17px; }
    .lckv_kaart h2 {
      font-size: 24px; }
    .lckv_kaart .lckv_kaartOffset {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px; } }
@media only screen and (max-width: 767px) {
  .spelTaxonomy,
  .receptTaxonomy {
    width: 100%;
    display: block !important;
    margin-bottom: 10px; }

  .taxAantal,
  .taxMateriaal,
  .taxOpmerkingen {
    width: 100%;
    float: left;
    padding: 2px; }
    .taxAantal input[type=text],
    .taxMateriaal input[type=text],
    .taxOpmerkingen input[type=text] {
      width: 100% !important; }

  .taxRow {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
