@media all and (min-width: 980px) and (max-width: 1199px) {
	header {
		width: 100%;
		height: auto;
		#first_header {
			width: 960px;
			height: 120px;
			margin-left: auto;
			margin-right: auto;
			#search_input {
			    margin-top: 13px;
				float: right;
				width: 180px;
				height: 31px;
				padding-left: 10px;
				font-size: 17px;
				background-position: 150px center;
			}
			#header_logo {
				width: 185px;
				float: left;
				margin-top: 30px;
				#header_logo_img {
					width: 185px;
					height: 60px;
				}
			}
			#hoofd_menu {
				float: right;
				margin-top: 31px;
				width: calc(100% - 185px);
				ul li {
					position: relative;
					display: inline-block;
					margin-left: 15px;
					padding-bottom: 25px;
					a {
						font-size: 20px;
					}
					.children {
						padding-top: 15px;
						padding-bottom: 15px;
						width: 240px;
						position: absolute;
						margin-left: -30px;
						top: 45px;
						li {
							margin-left: 30px;
							line-height: 30px;
							display: block;
							padding: 0px;
							a {
								font-size: 18px !important;
								color: #ffffff;
								&:hover {
									text-decoration: underline;
								}
							}
						}
						.children {
							margin-left: 210px;
							top: -15px;
							display: none;
							li {
								margin-left: 10px;
							}
							&.child-right {
								margin-left: -270px;
							}
						}
					}
				}
			}
		}
	}

	#second_header {
		height: 521px;

		.quote {
			font-size: 50px;
			top: 229px;
		}
		a.button {
			font-size: 28px;
			top: 318px;
			padding-top: 16px;
			padding-bottom: 12px;
			padding-left: 33px;
			padding-right: 33px;
		}
		#mcHeader {
			min-width: 1067px;
			min-height: 600px;
		}
	}
	
	main {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		min-height: calc(100% - 540px);

		h1, h2 {
			font-size: 32px;
			margin-bottom: 21px;
		}

		.nieuwe_sectie {
			margin-top: 50px;
		}

		#home_nieuws {
			width: 630px;
			margin-right: 20px;
			.home_samenvatting {
				width: 630px;
				margin-bottom: 30px;
				position: relative;

				.home_nieuws_thumb {
					width: 205px;
					height: 135px;
				}
				.home_samenvatting_wrapper {
					width: 340px;
					margin-left: 30px;
					margin-right: 0px;
					margin-top: 19px;
					margin-bottom: 18px;
					height: 98px;
					line-height: 24px;
					font-size: 17px;
					letter-spacing: 0.3;
					-webkit-line-clamp: 3;

					h3 {
						font-size: 27px;
						letter-spacing: 0.2px;
						margin-bottom: 6px;
					}
				}
			}
			.home_samenvatting:nth-child(4) {
				margin-bottom: 0px !important;
			}
		}
		#sidebar_home_1 {
			width: 310px;
			aside {
				margin-bottom: 30px;
			}
		}
		#sidebar_home_2 {
			width: 100%;
		}
		#sidebar_home_3 {
			width: 100%;
			margin-bottom: 49px;
			aside {
				width: calc(50% - 10px);
				float: left;
				section, .socialWidget {
					background: #ffffff;
					height: 280px;
				}
			}
			aside:nth-child(1) {
				margin-right: 20px;
			}
		}

		#vervolg_content {
			width: 630px;
			margin-top: 40px;
			margin-bottom: 40px;
			margin-right: 20px;
			h1 {
				margin: 40px;
				margin-top: 27px;
				margin-bottom: 21px;
				letter-spacing: -0.7px;
			}
			.page_header {
				width: 100%;
				height: 300px;
			}
			.page_content_tekst {
				margin: 40px;
				margin-top: 34px;
				font-size: 18px;
				line-height: 24px;
				width: calc(100% - 80px);
				
				.special-header {
					width: calc(100% + 80px);
					margin-left: -40px;
					margin-right: -40px;
					padding-left: 40px !important;
					padding-right: 40px !important;
				}
			}
		}
		#pagina_navigatie {
			margin-top: 40px;
			width: 310px;
			h1 {
				margin: 40px;
				margin-top: 27px;
				margin-bottom: 17px;
				letter-spacing: -0.7px;
			}
			ul {
				margin: 40px;
				margin-top: 0px;
				li {
					a {
						font-size: 18px;
						line-height: 30px;
					}
				}
			}
		}
		.special-header {
			padding: 8px;
			font-size: 16px;
			margin-bottom: 10px;
			
			.form-group {
				width: 33%;
				height: 40px;
			}
			.styled-select {
				width: 60%;
				height: 34px;
			}
			label {
				font-size: 16px;
				width: 35%;
			}
			input[type=text] {
				height: 34px;
				width: 60%;
				padding: 6px;
				font-size: 16px;
			}
			&.special-header-2-cols {
				.lckv_headerGroup {
					width: calc(50% - 10px);
					margin-right: 10px;
					.lckv_headerLabel, .lckv_headerValue {
						width: 50%;
					}
				}				
			}

			&.special-header-3-cols {
				.lckv_headerGroup {
					width: calc(50% - 10px);
					margin-right: 10px;
					.lckv_headerLabel, .lckv_headerValue {
						width: 50%;
					}
				}				
			}

			&.special-header-4-cols {
				.lckv_headerGroup {
					width: calc(25% - 10px);
					margin-right: 10px;
					.lckv_headerLabel, .lckv_headerValue {
						width: 50%;
					}
				}				
			}
		}
		form {
			.special-header {
				.lckv_headerGroup {
					.lckv_headerLabel,
					.lckv_headerValue {
						line-height: 34px;
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		padding-top: 41px;
		padding-bottom: 41px;

		#footer_navigatie {
			width: 960px;
			display: table;
			.footerblok {
				margin-right: 10px;
				display: table-cell;
				.parent_page {
					font-size: 24px;
					display: inline-block;
					margin-bottom: 6px;
				}
				ul {
					li {
						a {
							color: #ffffff;
							font-size: 20px;
							line-height: 28px;
							letter-spacing: -0.3px;
						}
					}
				}
			}
			.footerblok:last-child {
				margin-right: 0px !important;
			}
		}
	}

	.lckv_kaart {
		width: calc(33% - 4px);
		height: 150px;
		margin: 5px;
		padding: 10px;
		line-height: 24px;
		font-size: 17px;

		h2 {
			font-size: 24px;
		}

		.lckv_kaartOffset {
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 10px;
		}
	}
	.lckv_kaart:nth-child(3n + 1) {
		margin-left: 0px;
	}
	.lckv_kaart:nth-child(3n) {
		margin-right: 0px;
		margin-left: 6px;
	}

	/********** Widgets **********/

	.groene_pijl {
		width: 100%;
			.groene_pijl_bg {
			height: 135px;
			background-size: 105px;
			line-height: 135px;
			font-size: 30px;
		}
	}

	.lckv_tekst {
		height: 300px;
		.tabs {
			h2 {
				line-height: 45px;
				font-size: 23px;
			}
		}
		.content {
			height: 255px;
		}
		.tekst {
			font-size: 17px;
			line-height: 24px;
		}
	}

	.lckv_media_item {
		height: 103px;
		padding: 15px;
		margin-bottom: 30px;
		.lckv_media_icon {
			width: 72px;
			height: 72px;

			img {
				width: 45px;
				height: 45px;
				position: absolute;
				top: 28px;
				left: 28px;
			}
		}
		.lckv_media_tekst {
			width: calc(100% - 87px);
			padding-left: 15px;
			font-size: 17.4px;
			line-height: 24px;
			padding-top: 16px;
		}
	}

	.lckv_agenda_item {
		height: 103px;
		margin-bottom: 30px;
		.lckv_agenda_datum {
			width: 103px;
			height: 103px;

			.lckv_agenda_dag, .lckv_agenda_maand {
				width: 100%;
				height: 50%;
				line-height: 49px;
				letter-spacing: -1;
			}
			.lckv_agenda_dag {
				padding-top: 6px;
				padding-left:14px;
				font-size: 32px;
			}
			.lckv_agenda_maand {
				padding-left: 57px;
				font-size: 27px;
			}
		}
		.lckv_agenda_tekst {
			width: calc(100% - 103px);
			padding: 15px;
			padding-left: 25px;
			line-height: 21px;
			font-size: 17.4px;
			letter-spacing: -0.1;
			h3 {
				font-style: normal;
				font-size: 27px;
				line-height: 27px;
				letter-spacing: 0.2px;
				margin-bottom: 6px;
			}
		}
	}
	.spelTaxonomy {
		width: 50%;
	}
	.taxAantal {
		width: 100px;
		float: left;
		padding: 2px;
		input[type=text] {
			width: 100% !important;
		}
	}
	.taxMateriaal {
		width: 200px;
		float: left;
		padding: 2px;
		input[type=text] {
			width: 100% !important;
		}
	}
	.taxOpmerkingen {
		width: 250px;
		float: left;
		padding: 2px;
		input[type=text] {
			width: 100% !important;
		}
	}
	.lckv_vertrektijden_edit_kampnummer {
		width: 33%;
	}
	.lckv_vertrektijden_edit_kampnummer
	.lckv_vertrektijden_edit_correctie_wrapper, 
	.lckv_vertrektijden_edit_nieuwe_tijd, 
	.lckv_vertrektijden_edit_tijd {
		line-height: 40px;
	}
	.vertrektijdenOverzichtWeekWrapper {
		float: left;
		width: 100%;
	}
	.vertrektijdenOverzichtWeekVertrekWrapper {
		width: calc(50% - 15px);
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.vertrektijdenOverzichtWeekAankomstWrapper {
		width: calc(50% - 15px);
		float: right;
		margin-bottom: 10px;
	}
}
