
@font-face {
	font-family: 'Gentona';
	src: url("../fonts/light.eot");
	src: url("../fonts/light.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/light.woff") format("woff"), 
		 url("../fonts/light.ttf") format("truetype"), 
		 url("../fonts/light.svg#light") format("svg");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Gentona';
	src: url("../fonts/regular.eot");
	src: url("../fonts/regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/regular.woff") format("woff"), 
		 url("../fonts/regular.ttf") format("truetype"), 
		 url("../fonts/regular.svg#regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gentona';
	src: url("../fonts/bold.eot");
	src: url("../fonts/bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/bold.woff") format("woff"), 
		 url("../fonts/bold.ttf") format("truetype"), 
		 url("../fonts/bold.svg#bold") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gentona';
	src: url("../fonts/italic.eot");
	src: url("../fonts/italic.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/italic.woff") format("woff"), 
		 url("../fonts/italic.ttf") format("truetype"), 
		 url("../fonts/italic.svg#italic") format("svg");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gentona';
	src: url("../fonts/bolditalic.eot");
	src: url("../fonts/bolditalic.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/bolditalic.woff") format("woff"), 
		 url("../fonts/bolditalic.ttf") format("truetype"), 
		 url("../fonts/bolditalic.svg#bolditalic") format("svg");
	font-weight: bold;
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

i {
	font-style: italic;
}