@media only screen and (max-width: 767px) {

	.verberg_mobiel {
		display: none;
	}

	.show {
		display: block !important;
	}
	.fixed {
		position: fixed;
	}
	.extra_margin {
		margin-top: 45px;
	}

	header {
		width: 100%;
		height: auto;

		#first_header {
			width: 100%;
			height: 45px;
			line-height: 45px;
			margin-left: auto;
			margin-right: auto;
			z-index: 9;
			background: #ffffff;
			top: 0px;

			#search_input {
				display: none !important;
			    margin-top: 13px;
				float: right;
				width: 180px;
				height: 31px;
				padding-left: 10px;
				font-size: 17px;
				background-position: 150px center;
			}

			#search_input {
				display: none;
			}

			#header_logo {
				width: 108px;
				height: 35px;
				margin-left: auto;
				margin-right: auto;

				#header_logo_img {
					height: 35px;
					margin-top: 3px;
				}
			}

			#mobiel_menu {
				cursor: pointer;
				position: absolute;;
				top: 8px;
				left: 5px;
				border-width: 2px;
				border-style: solid;
				border-radius: 2px;
				height: 30px;
				width: 32px;
				text-align: center;
			}
			#mobiel_menu:before { 
				border-bottom-width: 12px;
				border-bottom-style: double;
				border-top-width: 4px;
				border-top-style: solid;
				content: "";
				height: 4px;
				position: absolute;
				right: 2px;
				top: 3px;
				width: 24px;
			}

			#hoofd_menu {
				width: 300px;
				height: calc(100% - 45px);
				display: none;
				position: fixed;
				overflow-y: auto;
				top: 45px;
				z-index: 10;
				background: #ffffff;
				ul {
					li {
						display: block;
						height: 45px;
						overflow: hidden;

						a {
							font-size: 20px;
							padding-left: 20px;
							display: block;
						}
						a:hover, a.actief {
							color: #ffffff;
						}

						.children {
							li {
								a {
									padding-left: 40px;
								}
							}
						}
					}
					li.menuActief {
						a {
							background: #f53c05;
							color: #ffffff;								
						}
					}
					.menuActief {
						height: auto !important;
					}
				}
			}
		}
	}

	#second_header {
		height: 300px;

		.quote {
			font-size: 30px;
			top: 64px;
		}
		a.button {
			font-size: 22px;
			top: 120px;
			padding-top: 6px;
			padding-bottom: 7px;
			padding-left: 28px;
			padding-right: 28px;
		}
		#mcHeader {
			min-width: 636px;
			min-height: 382px;
		}
	}

	main {
		width: 100%;
		min-height: calc(100% - 127px);

		h1, h2 {
			font-size: 32px;
			margin-bottom: 21px;
			margin-left: 20px;
		}
		#home_nieuws {
			width: 100%;
			.home_samenvatting {
				width: 100%;
				margin-bottom: 30px;
				position: relative;
			}
			@media screen and (min-width: 481px) {
				.home_nieuws_thumb {
					width: 177px;
					height: 117px;
				}
				.home_samenvatting_wrapper {
					width: calc(100% - 225px);
					height: 97px;
				}
			}
			@media screen and (max-width: 480px) {
				.home_nieuws_thumb {
					display: none;
				}
				.home_samenvatting_wrapper {
					width: calc(100% - 55px);
				}
			}
			.home_samenvatting_wrapper {
				margin-left: 20px;
				margin-right: 0px;
				margin-top: 10px;
				margin-bottom: 10px;
				line-height: 24px;
				font-size: 17px;
				letter-spacing: 0.3;
				-webkit-line-clamp: 3;
				
				h3 {
					margin-left: 0px;
					font-size: 27px;
					letter-spacing: 0.2px;
					margin-bottom: 6px;
					@media screen and (min-width: 481px) {
						font-size: 27px;
					}
					@media screen and (max-width: 480px) {
						font-size: 22px;
					}
				}

			}
			.home_samenvatting:nth-child(3) {
				margin-bototm: 0px !important;
			}
		}

		#sidebar_home_1 {
			width: 100%;
			aside {
				margin-bottom: 30px;
				width: 100%;
				float: left;
			}
		}
		#sidebar_home_2 {
			width: 100%;
			aside {
				width: 100%;
				margin-bottom: 30px;
				float: left;
			}
		}
		#sidebar_home_3 {
			width: 100%;
			margin-bottom: 30px;
			aside {
				width: 100%;
				float: left;
				section, .socialWidget {
					background: #ffffff;
					height: 280px;
				}
			}
		}
		#vervolg_content {
			width: 100%;
			margin-bottom: 40px;
			h1 {
				@media screen and (max-width: 480px) {
					margin: 20px;
				}
				@media screen and (min-width: 481px) {
					margin: 40px;
				}
				margin-top: 27px;
				margin-bottom: 21px;
				letter-spacing: -0.7px;
			}
			.page_header {
				width: 100%;
				max-height: 200px;
				img {
					min-width: 100%;
					height: auto;
				}
			}
			.page_header:after {
				padding-top: 46.15%;
				display: block;
				content: '';
			}
			.page_content_tekst {
				margin-top: 34px;
				font-size: 18px;
				line-height: 24px;
			}
			@media screen and (max-width: 480px) {
				.page_content_tekst {
					margin: 20px;
					width: calc(100% - 40px);
					
					.special-header {
						margin-left: -20px;
						margin-right: -20px;
						width: calc(100% + 40px);
						padding-left: 20px !important;
						padding-right: 20px !important;
					}
				}
			}
			@media screen and (min-width: 481px) {
				.page_content_tekst {
					margin: 40px;
					width: calc(100% - 80px);

					.special-header {
						margin-left: -40px;
						margin-right: -40px;
						width: calc(100% + 80px);
						padding-left: 40px !important;
						padding-right: 40px !important;
					}
				}
			}
		}
		.special-header {
			padding: 8px;
			font-size: 16px;
			margin-bottom: 10px;
			
			.form-group {
				width: 100%;
				height: 40px;
			}
			.styled-select {
				width: 60%;
				height: 34px;
			}
			label {
				font-size: 16px;
				width: 35%;
			}
			input[type=text] {
				height: 34px;
				width: 60%;
				padding: 6px;
				font-size: 16px;
			}
			&.special-header-2-cols,
			&.special-header-3-cols,
			&.special-header-4-cols {
				.lckv_headerGroup {
					@media screen and (min-width: 481px) {
						width: calc(50% - 10px);
					}
					@media screen and (max-width: 480px) {
						width: 100%;
					}
					margin-right: 10px;
					.lckv_headerLabel,
					.lckv_headerValue {
						width: 50%;
					}
				}
			}
		}
		form {
			.special-header {
				.lckv_headerGroup {
					.lckv_headerLabel,
					.lckv_headerValue {
						line-height: 34px;
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		padding-top: 41px;
		padding-bottom: 41px;

		#footer_navigatie {
			display: none;
		}
	}

	.groene_pijl {
		h1 {
			display: none;
		}
		.groene_pijl_bg {
			height: 135px;
			background-size: 105px;
			line-height: 135px;
			font-size: 30px;
		}
	}

	.lckv_tekst {
		height: 300px;
		.tabs {
			h2 {
				line-height: 45px;
				font-size: 23px;
			}
		}
		.content {
			height: 255px;
		}
		.tekst {
			ol,ul {
				li {
					padding-bottom: 10px;
				}
			}
			font-size: 17px;
			line-height: 24px;
		}
	}

	.lckv_media {
		h1 {
			display: none;
		}
		.lckv_media_item {
			height: 93px;
			padding: 10px;
			margin-bottom: 15px;
			.lckv_media_icon {
				width: 72px;
				height: 72px;

				img {
					width: 45px;
					height: 45px;
					position: absolute;
					top: 24px;
					left: 24px;
				}
			}
			.lckv_media_tekst {
				width: calc(100% - 87px);
				padding-left: 15px;
				font-size: 17.4px;
				line-height: 24px;
				padding-top: 11px;
			}
		}
	}

	.lckv_agenda_item {
		margin-bottom: 30px;
		.lckv_agenda_datum {

			.lckv_agenda_dag, .lckv_agenda_maand {
				width: 100%;
				height: 50%;
				line-height: 57px;
				letter-spacing: -1;
			}
			.lckv_agenda_dag {
				padding-top: 6px;
				padding-left:17px;
			}
			.lckv_agenda_maand {
				padding-left: 62px;
			}
		}
		.lckv_agenda_tekst {
			width: calc(100% - 120px);
			padding-left: 30px;
			line-height: 21px;
			letter-spacing: -0.1;
			h3 {
				font-style: normal;
				margin-left: 0px;
				letter-spacing: 0.2px;
			}
		}
		@media screen and (min-width: 481px) {
			height: 120px;
			.lckv_agenda_datum {
				width: 120px;
				height: 120px;

				.lckv_agenda_dag {
					font-size: 37px;
				}
				.lckv_agenda_maand {
					font-size: 30px;
				}
			}
			.lckv_agenda_tekst {
				font-size: 18px;
				padding: 23px;
				h3 {
					font-size: 27px;
					line-height: 27px;
					margin-bottom: 6px;
				}
			}
		}
		@media screen and (max-width: 480px) {
			height: 103px;
			.lckv_agenda_datum {
				width: 103px;
				height: 103px;

				.lckv_agenda_dag {
					font-size: 32px;
				}
				.lckv_agenda_maand {
					font-size: 27px;
				}
			}
			.lckv_agenda_tekst {
				font-size: 17.4px;
				padding: 5px;
				h3 {
					font-size: 22px;
					line-height: 22px;
					margin-bottom: 6px;
				}
			}
		}
	}
	@media screen and (min-width: 481px) {
		.lckv_kaart {
			width: calc(50% - 10px);
			height: 150px;
			margin: 10px;
			padding: 10px;
			line-height: 24px;
			font-size: 17px;

			h2 {
				font-size: 24px;
			}
			.lckv_kaartOffset {
				margin-left: 20px;
				margin-right: 20px;
				margin-top: 10px;
			}
		}
		.lckv_kaart:nth-child(2n + 1) {
			margin-left: 0px;
		}
		.lckv_kaart:nth-child(2n) {
			margin-right: 0px;
		}
	}
	@media screen and (max-width: 480px) {
		.lckv_kaart {
			width: 100%;
			height: 150px;
			margin: 10px;
			margin-left: 0px;
			margin-right: 0px;
			padding: 10px;
			line-height: 24px;
			font-size: 17px;

			h2 {
				font-size: 24px;
			}
			.lckv_kaartOffset {
				margin-left: 20px;
				margin-right: 20px;
				margin-top: 10px;
			}
		}
	}

	.spelTaxonomy,
	.receptTaxonomy {
		width: 100%;
		display: block !important;
		margin-bottom: 10px;
	}
	.taxAantal,
	.taxMateriaal,
	.taxOpmerkingen {
		width: 100%;
		float: left;
		padding: 2px;
		input[type=text] {
			width: 100% !important;
		}
	}
	.taxRow {
		margin-bottom: 20px;
	}
	.lckv_vertrektijden_edit_kampnummer {
		width: 100%;
	}
	.lckv_vertrektijden_edit_correctie_wrapper, 
	.lckv_vertrektijden_edit_nieuwe_tijd, 
	.lckv_vertrektijden_edit_tijd {
		line-height: 40px;
	}
	.lckv_vertrektijden_edit_kampnummer {
		margin-top: 10px;
	}
	.vertrektijdenOverzichtWeekWrapper {
		float: left;
		width: 100%;
	}
	.vertrektijdenOverzichtWeekVertrekWrapper,
	.vertrektijdenOverzichtWeekAankomstWrapper {
		width: 100%;
		margin-bottom: 10px;
	}
}