$background 	: #faf8f6;
$grijs 			: #afaaa7;
$header2_bg		: #0a1417;
$div_hover		: #eeeeee;
$kleur_koppen	: #323232;
$oranje 		: #f53c05;
$blauw			: #05c8d9;
$geel 			: #ffc300;

@import 'reset';
@import 'fonts';

body {
	background: $background;
	font-family: Gentona;
	a {
		&:link, &:visited, &:active {
			text-decoration: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.leesmeer {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	position: absolute;
	bottom: 0px;
	right: 0px;
	img {
		position: relative;
		top: 27px;
		left: 29px;
	}
}

header {
	background: #ffffff;
	margin-left: auto;
	margin-right: auto;
	display: block;
	#hoofd_menu ul {
		padding: 0px;
		li {
			padding: 0px;
			z-index: 10;
			a {
				color: $grijs;
				letter-spacing: -0.4px;
			}
			.children {
				display: none;
				z-index: 10;
			}
			&:hover > .children {
				display: block !important;
			}
		}
	}
	#search_input {
		box-sizing: border-box;
		font-family: gentona;
		background-image: URL("../images/zoeken.png");
		background-repeat: no-repeat;
		border-color: $grijs;
		border-style: solid;
		border-width: 1px;
	}
}

#second_header {
	background: $header2_bg;
	position: relative;
	text-align: center;
	.foto {
		width: 100%;
		height: 100%;
		text-align: center;
		position: absolute;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		-khtml-opacity: .43;
		-moz-opacity: .43;
		-ms-filter: "alpha(opacity=43)";
		filter: alpha(opacity = 43);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.43);
		opacity: .43;
		&.video {
			transition-duration: 1s;
		}
	}
	#mcHeader {
		width: 100%;
		height: 100%;
		position: relative; 
		padding-bottom: 56.25%; /* 16:9 */  
		padding-top: 25px;
		top: 50%; 
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	&.video:hover {
		.foto:hover {
			opacity: 1 !important;
		}
		.quote {
			opacity: 0 !important;
		}
		.button {
			-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

			-webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
			-moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
		}
	}
	.quote {
		display: inline-block;
		width: 100%;
		z-index: 3;
		position: relative;
		text-align: center;
		color: #ffffff;
		font-weight: bold;
		letter-spacing: 0.1px;
		transition-duration: 1s;
		opacity: 1;
	}
	a.button {
		color: #ffffff;
		font-weight: bold;
		font-style: italic;
		z-index: 3;
		position: relative;
		border-color: #ffffff;
		border-width: 4px;
		border-style: solid;
	}
}

.recipe {
	background: #ffffff;
	width: calc(33% - 10px);
	box-sizing: border-box;
	float: left;
	margin: 10px;
	height: 150px;
	padding: 10px;
	font-family: Gentona;
	line-height: 24px;
	font-size: 17px;
	position: relative;
	cursor: pointer;
	.samenvatting {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.eigenschappen {
		position: absolute;
		bottom: 0px;
	}
	.taxo-label {
		width: 20%;
		overflow: hidden;
		display: inline-block;
	}
	.taxo-value {
		width: 75%;
		display: inline-block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	h2 {
		font-size: 24px;
	}
	&:hover {
		background: $div_hover;
	}
	&:nth-child(3n) {
		margin-right: 0px;
	}
	&:nth-child(3n + 1) {
		margin-left: 0px;
	}
}

main {
	color: $kleur_koppen;
	letter-spacing: -0.2px;
	display: block;
	article {
		ul {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 50px;
			list-style: disc;
			li {
				padding-left: 5px;
			}
		}
		.page_content_tekst {
			img {
				max-width: 100%;
				height: auto;
			}
			*:not(.negative-magrin, .gm-style *) {
				max-width: 100%;
			}
			ol, ul {
				margin-left: 30px;
			}
			ol {
				list-style-type: decimal;
				&.a {
					list-style-type: upper-alpha;
				}
			}
		}
	}
	.page_content_tekst_full_width {
		float: left;
		width: 100%;
	}
	#home_nieuws {
		float: left;
		.home_samenvatting {
			background: #ffffff;
			float: left;
			cursor: pointer;
			.home_nieuws_thumb {
				overflow: hidden;
				position: relative;
				float: left;
				img {
					width: 100%;
					height: auto;
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					-ms-transform: translate(0, -50%);
					-webkit-transform: translate(0, -50%);
				}
			}
			.home_samenvatting_wrapper {
				float: left;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
			}
			&:hover {
				background: $div_hover;
			}
		}
	}
	#sidebar_home_1, #sidebar_home_2, #sidebar_home_3 {
		float: left;
	}
	#sidebar_home_1 aside section, #sidebar_home_2 aside section, #sidebar_home_3 aside section {
		overflow: auto;
	}
	aside  h2 a {
		color: inherit !important;
	}
	aside  h2 a:hover {
		text-decoration: none !important;
	}
	#vervolg_content {
		background: #ffffff;
		float: left;
    /*		.blur_background {
    			width: 100%;
    			height: 100%;
    			position: absolute;
    			overflow: hidden;
    			display: block;
    			   -moz-filter: blur(30px);
    			    -ms-filter: blur(30px);
    			     -o-filter: blur(30px);
    			    	filter: blur(30px);
    			    	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='30');
    			background-size: cover;
    			background-position: center center;
    			background-repeat: repeat;
    */
    h1 {
    	display: inline-block;
    }
    .page_header {
    	overflow: hidden;
    	position: relative;
    	img {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		-webkit-transform: translate(-50%, -50%);
    		-ms-transform: translate(-50%, -50%);
    		transform: translate(-50%, -50%);
    		width: 100%;
    	}
    }
    img.blur_background_img {
    	width: 110%;
    	height: auto;
    	min-width: 100%;
    	min-height: 100%;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	-webkit-transform: translate(-50%, -50%);
    	-ms-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);
    	-webkit-filter: blur(30px);
    }
    .page_content_tekst {
    	display: inline-block;
    	h2 {
    		font-size: 26px;
    		margin-bottom: 10px;
    		margin-top: 15px;
    		color: $geel;
    	}
    }
}
#pagina_navigatie {
	background: #ffffff;
	float: left;
	ul li a {
		color: #000000;
	}
}
.page_content_posts_loop {
	float: left;
}
.special-header {
	color: #ffffff;
	width: 100%;
	display: inline-block;
	h1 {
		color: #ffffff;
	}
	.form-group {
		float: left;
	}
	label {
		font-family: Gentona;
		display: inline-block;
		color: #ffffff;
		float: left;
		line-height: 34px;
	}
	input[type=text] {
		display: inline-block;
		overflow: hidden;
		background: right #ffffff;
		border: none;
		box-sizing: border-box;
		font-family: gentona;
		&:disabled {
			background: $div_hover !important;
		}
	}
	.lckv_headerGroup {
		box-sizing: border-box;
		float: left;
		height: 100%;
		.lckv_headerLabel, .lckv_headerValue {
			float: left;
			position: relative;
			display: block;
			.inputOverlay {
				right: 20px;
				position: absolute;
				top: 0px;
				color: #000;
			}
		}
	}
	.header-form {
		.lckv_headerLabel, .lckv_headerValue {
			height: 40px;
		}
	}
}
.styled-select {
	display: inline-block;
	overflow: hidden;
	background-image: url("../images/select_arrow_geel.svg");
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center right 10px;
	border-width: 1px;
	border-color: $geel;
	border-style: solid;
	select {
		background: transparent;
		padding: 5px;
		padding-right: 30px;
		font-size: 16px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 34px;
		-webkit-appearance: none;
		width: 100%;
		font-family: Gentona;
	}
}
.negative-magrin {
	margin-left: -40px;
	margin-right: -40px;
	width: calc(100% + 80px);
}
.content-header-extra-padding {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.archive-page-navigation {
	> a {
		padding-left: 10px;
		padding-right: 10px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		background: #ffffff;
		text-align: center;
	}
	&:hover {
		background: $oranje;
		color: #ffffff !important;
		text-decoration: none;
		> a {
			background: $oranje;
			color: #ffffff !important;
			text-decoration: none;
		}
	}
}
.navigation-next {
	float: right;
}
.navigation-prev {
	float: left;
}
}

footer {
	float: left;
	background: #72665a;
	#footer_navigatie {
		margin-left: auto;
		margin-right: auto;
		.footerblok {
			float: left;
			ul {
				list-style: none;
				padding: 0px;
				li {
					padding: 0px;
					a {
						color: #ffffff;
						font-size: 20px;
						line-height: 24px;
						letter-spacing: -0.3px;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.col {
	border: 0px solid transparent;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
	.col {
		margin-left: 2%;
		padding: 0 1.5%;
	}
	.row .col:first-child {
		margin-left: 0;
	}
	.span_1 {
		margin-left: 0;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.col {
		margin-left: 2%;
		padding: 0 1.5%;
	}
	.row .col:first-child {
		margin-left: 0;
	}
	.span_1 {
		width: 23.5%;
	}
	.span_2 {
		width: 49.0%;
	}
	.span_3 {
		width: 74.5%;
	}
	.span_4 {
		margin-left: 0;
		width: 100%;
	}
}

input {
	&[type=text], &[type=email], &[type=tel] {
		line-height: 22px;
		padding-left: 2px;
		padding-right: 2px;
		border-width: 1px;
		border-color: $grijs;
		border-style: solid;
		font-family: gentona;
		font-size: 16px;
		width: 100%;
	}
}

textarea {
	line-height: 22px;
	padding-left: 2px;
	padding-right: 2px;
	border-width: 1px;
	border-color: $grijs;
	border-style: solid;
	font-family: gentona;
	font-size: 16px;
	width: 100%;
	height: 100px;
}

.radio-box {
	border-width: 1px;
	border-color: $grijs;
	border-style: solid;
	display: block;
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	.radio-box-helft:nth-child(1) {
		border-color: $grijs;
		border-width: 0px;
		border-style: solid;
		border-right-width: 1px;
	}
}

.lckv_kaart {
	background: #ffffff;
	box-sizing: border-box;
	float: left;
	font-family: gentona;
	position: relative;
	cursor: pointer;
	.lckv_kaart-samenvatting {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.lckv_kaart-eigenschappen {
		position: absolute;
		bottom: 0px;
	}
	&:hover {
		background: $div_hover !important;
	}
}

/********** Dagtocht plugin **********/

.radio-list {
	border-width: 1px;
	border-bottom-width: 0px !important;
	border-color: $grijs;
	border-style: solid;
	label {
		cursor: pointer;
		width: 100%;
		display: block;
		font-size: 16px !important;
		line-height: 30px;
		background: rgba($geel, 0.5);
		transition-duration: 0.5s;
		color: #000000;
		padding-left: 15px;
		border-width: 0px;
		border-bottom-width: 1px;
		border-color: $grijs;
		border-style: solid;
	}
	label:nth-last-child {
		border-bottom-width: 0px !important;
	}
	label:hover,
	label.harmonica-actief {
		background: rgba($geel, 1);
		color: #ffffff;
	}
	label.harmonica-actief {
		cursor: default;
	}
	.lckv-dagtocht-harmonica {
		border-bottom-width: 1px;
		border-color: $grijs;
		border-style: solid;
		.harmonica-content {
			margin: 15px;
		}
	}
}

.featherlight-content {
	.previous, .next {
		position: absolute;
		bottom: 0px;
	}
	.previous {
		right: 40px;
	}

	.next {
		right: 30px;
	}
}
input[type=radio].lckv-dt-type,
.lckv-dagtocht-harmonica {
	display: none;
}
.lckv-dt-submit {
    background-color: #FFC300;
    border-width: 0px;
    border-style: solid;
    border-color: #FFC300;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 14px;
    font-family: gentona;
    float: right;
}

#wp-LCKV_dagtocht_nieuw_content-wrap {
	border-width: 1px;
	border-color: $grijs;
	border-style: solid;
}

/********** Widgets **********/

.groene_pijl .groene_pijl_bg {
	background: URL('../images/pijlbg.png');
	background-repeat: repeat-x;
	background-position: left center;
	display: block;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
}

.lckv_tekst {
	background: $geel;
	overflow-x: hidden;
	overflow-y: auto;
	.tekst {
		ul, ol {
			list-style: disc;
			margin-left: 20px;
		}
	}
	.tabs {
		width: 100%;
		display: table;
		table-layout: fixed;
		h2 {
			background: rgba(91, 91, 91, 0.25);
			color: #ffffff;
			display: table-cell;
			text-align: center;
			cursor: pointer;
			&.actief {
				background: none !important;
			}
		}
	}
	.content {
		width: 100%;
		padding: 20px;
	}
}

.lckv_media_item {
	background: #ffffff;
	position: relative;
	cursor: pointer;
	.lckv_media_icon {
		border-radius: 50%;
		float: left;
	}
	.lckv_media_tekst {
		float: left;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
	}
	&:hover {
		background-color: $div_hover;
	}
}

.lckv_agenda_item {
	background: #ffffff;
	position: relative;
	width: 100%;
	.lckv_agenda_datum {
		color: #ffffff;
		font-style: italic;
		float: left;
	}
	.lckv_agenda_tekst {
		float: left;
		height: 100%;
		font-style: italic;
		h1 {
			font-style: normal;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
		}
	}
}

.widgetBox .widgetTable, .fancyTable {
	width: 100%;
	height: 100%;
	border-color: rgba(139, 142, 138, 0.6);
	border-width: 0px;
	border-style: solid;
}

.bigTable {
	td, th {
		line-height: 30px !important;
	}
}

.widgetBox .widgetTable {
	td, th {
		vertical-align: middle !important;
	}
}

.fancyTable {
	td, th {
		vertical-align: middle !important;
	}
}

.widgetBox .widgetTable th, .fancyTable th {
	line-height: 20px;
	font-weight: bold;
}

.widgetBox .widgetTable tr:nth-child(even), .fancyTable tr:nth-child(even) {
	background: none;
}

.widgetBox .widgetTable tr:nth-child(odd), .fancyTable tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}

.spelTaxonomy, .receptTaxonomy {
	position: relative;
	display: table-cell;
	padding: 5px;
	border-width: 1px;
	border-color: $geel;
	border-style: solid;
}

.spelTaxonomy h2, .receptTaxonomy h2 {
	margin-left: 15px;
}

.spelTaxonomyList, .receptTaxonomyList {
	list-style: none;
	padding: 10px;
}

.spelTaxonomies, .receptTaxonomies {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	display: table;
	border-spacing: 10px;
}

.taxTitles, .taxRow {
	width: 100%;
	float: left;
}


/***********************************/
/********** Vertrektijden **********/
/***********************************/

.lckv_vertrektijden_wrapper_edit_kamp {
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: rgba(0,0,0,0.5);
	border-style: dashed;
	.lckv_vertrektijden_edit_kampnummer {
		display: inline-block;
		font-weight: bold;
	}
	.lckv_vertrektijden_edit_correctie_wrapper, 
	.lckv_vertrektijden_edit_nieuwe_tijd, 
	.lckv_vertrektijden_edit_tijd {
		display: inline-block;
		width: 60px;
	}
	.lckv_vertrektijden_edit_tijd.edited {
	    text-decoration: line-through;
	    color: $oranje;
	}
	.lckv_vertrektijden_edit_button {
	    display: inline-block;
	    background: $geel;
	    color: #ffffff;
	    font-family: franchise;
	    border-width: 0px;
	    font-size: 25px;
	    width: 28px;
	    height: 28px;
	    cursor: pointer;
	}
	.lckv_vertrektijden_edit_button:active,
	.lckv_vertrektijden_edit_button:focus {
	    outline: none;
	}
}

@import 'desktop-wide';
@import 'desktop';
@import 'tablet';
@import 'mobiel';
@import 'woocommerce';
