@media only screen and (min-width: 768px) and (max-width: 979px) {

	.verberg_tablet {
		display: none;
	}

	header {
		width: 100%;
		height: auto;

		#first_header {
			width: 748px;
			height: 120px;
			margin-left: auto;
			margin-right: auto;

				#search_input {
				    margin-top: 13px;
					float: right;
					width: 180px;
					height: 31px;
					padding-left: 10px;
					font-size: 17px;
					background-position: 150px center;
				}
				
			#header_logo {
				width: 139px;
				float: left;
				margin-top: 15px;

				#header_logo_img {
					height: 45px;
					width: 139px;
				}
			}

			#hoofd_menu {
				position: absolute;
				top: 75px;
				z-index: 10;
				ul {
					li {
						position: relative;
						display: inline-block;
						margin-right: 15px;
						padding-bottom: 25px;

						a {
							font-size: 20px;
						}
						.children {
							padding-top: 15px;
							padding-bottom: 15px;
							width: 240px;
							position: absolute;
							left: -20px;
							top: 45px;
							li {
								margin-left: 20px;
								line-height: 30px;
								display: block;
								padding: 0px;
								a {
									font-size: 18px !important;
									color: #ffffff;
								}
								a:hover {
									text-decoration: underline;
								}
							}
							.children {
								margin-left: 210px;
								top: -15px;
								display: none;
								li {
									margin-left: 10px;
								}
								&.child-right {
									margin-left: -270px;
								}
							}
						}
					}
				}
			}
		}
	}

	#second_header {
		height: 470px;

		.quote {
			font-size: 40px;
			top: 204px;
		}
		a.button {
			font-size: 28px;
			top: 293px;
			padding-top: 16px;
			padding-bottom: 12px;
			padding-left: 33px;
			padding-right: 33px;
		}
		#mcHeader {
			min-width: 978px;
			min-height: 550px;
		}
	}

	main {
		width: 748px;
		margin-left: auto;
		margin-right: auto;
		min-height: calc(100% - 202px);

		h1, h2 {
			font-size: 32px;
			margin-bottom: 21px;
		}

		#home_nieuws {
			width: 100%;
			margin-right: 20px;
			.home_samenvatting {
				width: 100%;
				margin-bottom: 30px;
				position: relative;

				.home_nieuws_thumb {
					width: 205px;
					height: 135px;
				}
				.home_samenvatting_wrapper {
					width: calc(100% - 285px);
					margin-left: 30px;
					margin-right: 0px;
					margin-top: 19px;
					margin-bottom: 18px;
					height: 98px;
					line-height: 24px;
					font-size: 17px;
					letter-spacing: 0.3;
					-webkit-line-clamp: 3;

					h3 {
						font-size: 27px;
						letter-spacing: 0.2px;
						margin-bottom: 6px;
					}
				}
			}
			.home_samenvatting:nth-child(3) {
				margin-bototm: 0px !important;
			}
		}
		#sidebar_home_1 {
			width: 100%;
			aside {
				margin-bottom: 30px;
				width: calc(50% - 10px);
				float: left;
			}
/*******************************/
/* MARGIN OM EN OM, WERKT NIET */
/*******************************
			aside,
			aside.verberg_tablet:nth-child(even) + aside:nth-of-type(odd) + aside:nth-of-type(even),
			aside.verberg_tablet:nth-child(even) + aside.verberg_tablet:nth-child(odd) ~ aside:nth-of-type(odd) {
				margin-right: 20px;
			}

			aside:nth-child(even),
			aside.verberg_tablet:nth-child(even) ~ aside:nth-of-type(odd), aside.verberg_tablet:nth-child(even) + aside.verberg_tablet:nth-child(odd) ~ aside:nth-of-type(even) { 
				margin-right: 0px;
			}
*/
		}
		#sidebar_home_2 {
			width: 100%;
			aside {
				width: 100%;
				margin-bottom: 30px;
				float: left;
			}
		}
		#sidebar_home_3 {
			width: 100%;
			margin-bottom: 30px;
			aside {
				width: calc(50% - 10px);
				float: left;
				section, .socialWidget {
					background: #ffffff;
					height: 280px;
				}
			}
			aside:nth-child(1) {
				margin-right: 20px;
			}
		}
		#vervolg_content {
			width: 100%;
			margin-top: 40px;
			margin-bottom: 40px;
			h1 {
				margin: 40px;
				margin-top: 27px;
				margin-bottom: 21px;
				letter-spacing: -0.7px;
			}
			.page_header {
				width: 100%;
				height: 300px;
			}
			.page_content_tekst {
				margin: 40px;
				margin-top: 34px;
				font-size: 18px;
				line-height: 24px;
				width: calc(100% - 80px);

				.special-header {
					width: calc(100% + 80px);
					margin-left: -40px;
					margin-right: -40px;
					padding-left: 40px !important;
					padding-right: 40px !important;
				}
			}
		}
		.special-header {
			padding: 8px;
			font-size: 16px;
			margin-bottom: 10px;
			
			.form-group {
				width: 50%;
				height: 40px;
			}
			.styled-select {
				width: 60%;
				height: 34px;
			}
			label {
				font-size: 16px;
				width: 35%;
			}
			input[type=text] {
				height: 34px;
				width: 60%;
				padding: 6px;
				font-size: 16px;
			}
			&.special-header-2-cols {
				.lckv_headerGroup {
					width: calc(50% - 10px);
					margin-right: 10px;
					.lckv_headerLabel, .lckv_headerValue {
						width: 50%;
					}
				}				
			}

			&.special-header-3-cols {
				.lckv_headerGroup {
					width: calc(33% - 10px);
					margin-right: 10px;
					.lckv_headerLabel, .lckv_headerValue {
						width: 50%;
					}
				}				
			}

			&.special-header-4-cols {
				.lckv_headerGroup {
					width: calc(25% - 10px);
					margin-right: 10px;
					.lckv_headerLabel, .lckv_headerValue {
						width: 50%;
					}
				}				
			}
		}
		form {
			.special-header {
				.lckv_headerGroup {
					.lckv_headerLabel,
					.lckv_headerValue {
						line-height: 34px;
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		padding-top: 41px;
		padding-bottom: 41px;

		#footer_navigatie {
			display: none;
		}
	}

	.lckv_kaart {
		width: calc(50% - 10px);
		height: 150px;
		margin: 10px;
		padding: 10px;
		line-height: 24px;
		font-size: 17px;

		h2 {
			font-size: 24px;
		}
		.lckv_kaartOffset {
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 10px;
		}
	}
	.lckv_kaart:nth-child(2n + 1) {
		margin-left: 0px;
	}
	.lckv_kaart:nth-child(2n) {
		margin-right: 0px;
	}

	/********** Widgets **********/

	.groene_pijl {
		h1 {
			display: none;
		}
		.groene_pijl_bg {
			height: 135px;
			background-size: 105px;
			line-height: 135px;
			font-size: 30px;
		}
	}

	.lckv_tekst {
		height: 300px;
		margin-top: 53px;

/********************************************************/
/****** VERWIJDEREN, BOVENSTAANDE COMMENTS FIXEN ********/
/********************************************************/

		margin-right: 20px;

/********************************************************/
/********************************************************/
/********************************************************/

		.tekst {
			font-size: 17px;
			line-height: 24px;
		}
		.tabs {
			h2 {
				line-height: 45px;
				font-size: 23px;
			}
		}
		.content {
			height: 255px;
		}
	}

	.lckv_media {
		h1 {
			display: none;
		}
		.lckv_media_item {
			height: 93px;
			padding: 10px;
			margin-bottom: 10px;
			.lckv_media_icon {
				width: 72px;
				height: 72px;

				img {
					width: 45px;
					height: 45px;
					position: absolute;
					top: 24px;
					left: 24px;
				}
			}
			.lckv_media_tekst {
				width: calc(100% - 87px);
				padding-left: 15px;
				font-size: 17.4px;
				line-height: 24px;
				padding-top: 11px;
			}
		}
	}

	.lckv_agenda_item {
		height: 120px;
		margin-bottom: 30px;
		.lckv_agenda_datum {
			width: 120px;
			height: 120px;

			.lckv_agenda_dag, .lckv_agenda_maand {
				width: 100%;
				height: 50%;
				line-height: 57px;
				letter-spacing: -1;
			}
			.lckv_agenda_dag {
				padding-top: 6px;
				padding-left:17px;
				font-size: 37px;
			}
			.lckv_agenda_maand {
				padding-left: 62px;
				font-size: 30px;
			}
		}
		.lckv_agenda_tekst {
			width: calc(100% - 120px);
			padding: 23px;
			padding-left: 30px;
			line-height: 26px;
			font-size: 18px;
			letter-spacing: -0.1;
			h3 {
				font-style: normal;
				font-size: 27px;
				letter-spacing: 0.2px;
				margin-bottom: 6px;
			}
		}
	}
	.spelTaxonomy {
		width: 50%;
	}
	.taxAantal {
		width: 100px;
		float: left;
		padding: 2px;
		input[type=text] {
			width: 100% !important;
		}
	}
	.taxMateriaal {
		width: 250px;
		float: left;
		padding: 2px;
		input[type=text] {
			width: 100% !important;
		}
	}
	.taxOpmerkingen {
		width: 310px;
		float: left;
		padding: 2px;
		input[type=text] {
			width: 100% !important;
		}
	}
	.lckv_vertrektijden_edit_kampnummer {
		width: 33%;
	}
	.lckv_vertrektijden_edit_kampnummer
	.lckv_vertrektijden_edit_correctie_wrapper, 
	.lckv_vertrektijden_edit_nieuwe_tijd, 
	.lckv_vertrektijden_edit_tijd {
		line-height: 40px;
	}
	.vertrektijdenOverzichtWeekWrapper {
		float: left;
		width: 100%;
	}
	.vertrektijdenOverzichtWeekVertrekWrapper {
		width: calc(50% - 15px);
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.vertrektijdenOverzichtWeekAankomstWrapper {
		width: calc(50% - 15px);
		float: right;
		margin-bottom: 10px;
	}
}