main article .woocommerce ul.products {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    margin: 0px;
    grid-gap: 10px;
}

main .woocommerce {
    ul li {
        padding: 0px;
        display: inline-block;
        width: 220px;
        border-width: 1px;
        border-color: #afaaa7;
        border-style: solid;
        background: rgba($grijs, 0.15);
        .woocommerce-LoopProduct-link {
            height: 310px;
        }
        .lckv_wc_shop_wrapper_thumb {
            height: 250px;
            overflow: hidden;
            border-width: 0px;
            border-bottom-width: 1px;
            border-color: $grijs;
            border-style: solid;
            position: relative;
            padding: 10px;
            background: #ffffff;
            img {
                position: absolute;
                top: -100%;
                left: 0;
                right: 0;
                bottom: -100%;
                margin: auto;
            }
        }
        h2 {
            color: $kleur_koppen !important;
            font-size: 18px !important;
            font-weight: bold !important;
            margin: 10px !important;
            margin-bottom: 0px !important;
        }
        .button, .added_to_cart {
            margin: 10px;
            background: $blauw;
            border-radius: 3px;
            color: #ffffff;
            display: block;
            text-align: center;
        }
        a:hover {
            text-decoration: none !important;
        }
    }
    .type-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .wc-tabs-wrapper, .tablist,
        .related, .products {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .related, .products {
        li {
            grid-template-columns: 1fr !important;
            .price {
                margin: 10px;
                font-size: 20px;
                font-weight: bold;
                color: $kleur_koppen !important;
                display: block;
                del {
                    line-height: 13px;
                    display: block;
                    margin-top: -10px;
                    margin-bottom: -3px;
                    font-size: 13px !important;
                    color: $grijs !important;
                }
                ins {
                    font-size: 25px !important;
                    color: $kleur_koppen !important;
                    text-decoration: none !important;
                }
            }
            .onsale {
                display: none !important;
            }
            &.sale {
                .lckv_wc_shop_wrapper_thumb:before {
                    content: 'Aanbieding';
                    display: block;
                    background: #ffc300;
                    width: 200px;
                    height: 25px;
                    transform: rotate(-45deg);
                    position: relative;
                    z-index: 999;
                    margin-left: -70px;
                    margin-top: 15px;
                    text-align: center;
                    line-height: 25px;
                    color: #ffffff;
                    font-size: 15px;
                }
            }
        }
    }
    .entry-summary {
        .product_title {
            margin: 0px !important;
            margin-bottom: 10px !important;
            width: 100%;
            border-bottom-width: 1px;
            border-bottom-color: #f53c05;
            border-style: solid;
            padding-bottom: 10px;
        }
        .price {
            margin: 0px;
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: bold;
            color: $kleur_koppen !important;
            display: block;
            del {
                font-size: 13px !important;
                color: $grijs !important;
            }
            ins {
                font-size: 25px !important;
                color: $kleur_koppen !important;
                text-decoration: none !important;
            }
        }

        .variations {
            width: 100%;
            .label, .value {
                vertical-align: middle;
            }
            .label {
                width: 100px;
            }
            .value {
                width: 230px;
                .styled-select {
                    width: 100%;
                }
            }
            .reset_variations {
                display: none !important;
            }
        }
        .stock {
            margin-left: 105px;
            height: 30px;
        }
        .out-of-stock {
            color: $oranje;
            font-weight: bold;
        }
        .quantity {
            label {
                width: 99px;
                display: inline-block;
            }
            input {
                font-family: gentona;
                height: 34px;
                border-color: #fdc300;
                border-style: solid;
                border-width: 1px;
                width: 237px;
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
                font-size: 16px;
            }
        }
        .single_add_to_cart_button {
            transition-duration: 0.1s;
            margin-left: 103px;
            background: $oranje;
            width: 237px;
            color: #ffffff;
            font-weight: 900;
            font-size: 16px;
            margin-top: 10px;
            border-width: 0px;
            border-style: solid;
            border-color: $oranje;
            line-height: 30px;
            &.disabled {
                cursor: no-drop;
                background: $grijs !important;
            }
        }
    }
    .onsale {
        position: absolute;
        z-index: 999;
        background: #ffc300;
        color: #ffffff;
        font-weight: bold;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        transform: rotate(-10deg);
        border-radius: 50%;
        border-width: 1px;
        border-color: #ffffff;
        border-style: dashed;
        -webkit-box-shadow: 0px 0px 0px 4px rgba(255,195,0,1);
        -moz-box-shadow: 0px 0px 0px 4px rgba(255,195,0,1);
        box-shadow: 0px 0px 0px 2px rgba(255,195,0,1);
    }

    .wc-tabs-wrapper {
        border-bottom-width: 1px;
        border-bottom-color: #f53c05;
        border-style: solid;
        padding-bottom: 30px;
        margin-bottom: 30px;
        .wc-tabs {
            padding: 0px;
            margin: 0px;
            border-bottom-width: 1px;
            border-bottom-color: $oranje;
            border-bottom-style: solid;
            li {
                border-width: 0px !important;
                padding: 8px 15px;
                &.active {
                    background: $geel;
                    a {
                        color: #ffffff;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .shop_attributes {
        th {
            text-align: left;
            width: 100px;
        }
    }
    .woocommerce-cart-form {
        background: #ffffff;
        padding: 40px;
        .cart {
            width: 100%;
            thead,
            tr.cart_item {
            }
            th {
                text-align: left;
                font-weight: 900;
                padding-bottom: 10px;
            }
            td {
                vertical-align: middle;
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .product-remove {
                text-align: center;
                width: 30px;
                font-size: 30px;
                color: $kleur_koppen;
            }
            .product-thumbnail {
                width: 150px;
                img {
                    max-width: 150px;
                    height: auto;
                }
            }
            .product-price {
                width: 120px;
            }
            .product-quantity {
                width: 150px;
            }
            .product-subtotal {
                width: 150px;
            }
        }
    }
}
