/*
--LCKV Theme Settings--
Voorbeeld-kleur:  #f53c05
*/
.meer-2{background:#f53c05;background:-moz-linear-gradient(-45deg,transparent 50%,#f53c05 50%);background:-webkit-gradient(linear,left top,right bottom,color-stop(50%,transparent),color-stop(50%,#f53c05));background:-webkit-linear-gradient(-45deg,transparent 50%,#f53c05 50%);background:-o-linear-gradient(-45deg,transparent 50%,#f53c05 50%);background:-ms-linear-gradient(-45deg,transparent 50%,#f53c05 50%);background:linear-gradient(135deg,transparent 50%,#f53c05 50%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='$child', GradientType=1 )}footer #footer_navigatie .footerblok .parent_page{color:#f53c05}.lckv_agenda_item .lckv_agenda_datum{background:#f53c05;background:-webkit-gradient(linear,left top,right bottom,color-stop(50%,#f53c05),color-stop(50%,rgba(18,18,18,.17))) #f53c05;background:-webkit-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #f53c05;background:-moz-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #f53c05;background:-ms-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #f53c05;background:-o-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #f53c05;background:linear-gradient(135deg,transparent 50%,rgba(18,18,18,.17) 50%) #f53c05;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$child', endColorstr='#00aab9', GradientType=1 )}.background-child{background:#f53c05!important}