/*
--LCKV Theme Settings--
Voorbeeld-kleur:  #44b550
*/
.meer-2{background:#44b550;background:-moz-linear-gradient(-45deg,transparent 50%,#44b550 50%);background:-webkit-gradient(linear,left top,right bottom,color-stop(50%,transparent),color-stop(50%,#44b550));background:-webkit-linear-gradient(-45deg,transparent 50%,#44b550 50%);background:-o-linear-gradient(-45deg,transparent 50%,#44b550 50%);background:-ms-linear-gradient(-45deg,transparent 50%,#44b550 50%);background:linear-gradient(135deg,transparent 50%,#44b550 50%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='$child', GradientType=1 )}footer #footer_navigatie .footerblok .parent_page{color:#44b550}.lckv_agenda_item .lckv_agenda_datum{background:#44b550;background:-webkit-gradient(linear,left top,right bottom,color-stop(50%,#44b550),color-stop(50%,rgba(18,18,18,.17))) #44b550;background:-webkit-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #44b550;background:-moz-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #44b550;background:-ms-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #44b550;background:-o-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #44b550;background:linear-gradient(135deg,transparent 50%,rgba(18,18,18,.17) 50%) #44b550;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$child', endColorstr='#00aab9', GradientType=1 )}.background-child{background:#44b550!important}