/*
--LCKV Theme Settings--
Voorbeeld-kleur:  #05c8d9
*/
.meer-2{background:#05c8d9;background:-moz-linear-gradient(-45deg,transparent 50%,#05c8d9 50%);background:-webkit-gradient(linear,left top,right bottom,color-stop(50%,transparent),color-stop(50%,#05c8d9));background:-webkit-linear-gradient(-45deg,transparent 50%,#05c8d9 50%);background:-o-linear-gradient(-45deg,transparent 50%,#05c8d9 50%);background:-ms-linear-gradient(-45deg,transparent 50%,#05c8d9 50%);background:linear-gradient(135deg,transparent 50%,#05c8d9 50%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='$child', GradientType=1 )}footer #footer_navigatie .footerblok .parent_page{color:#05c8d9}.lckv_agenda_item .lckv_agenda_datum{background:#05c8d9;background:-webkit-gradient(linear,left top,right bottom,color-stop(50%,#05c8d9),color-stop(50%,rgba(18,18,18,.17))) #05c8d9;background:-webkit-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #05c8d9;background:-moz-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #05c8d9;background:-ms-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #05c8d9;background:-o-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #05c8d9;background:linear-gradient(135deg,transparent 50%,rgba(18,18,18,.17) 50%) #05c8d9;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$child', endColorstr='#00aab9', GradientType=1 )}.background-child{background:#05c8d9!important}