/*
--LCKV Theme Settings--
Voorbeeld-kleur:  #ffc300
*/
.meer-2{background:#ffc300;background:-moz-linear-gradient(-45deg,transparent 50%,#ffc300 50%);background:-webkit-gradient(linear,left top,right bottom,color-stop(50%,transparent),color-stop(50%,#ffc300));background:-webkit-linear-gradient(-45deg,transparent 50%,#ffc300 50%);background:-o-linear-gradient(-45deg,transparent 50%,#ffc300 50%);background:-ms-linear-gradient(-45deg,transparent 50%,#ffc300 50%);background:linear-gradient(135deg,transparent 50%,#ffc300 50%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='$child', GradientType=1 )}footer #footer_navigatie .footerblok .parent_page{color:#ffc300}.lckv_agenda_item .lckv_agenda_datum{background:#ffc300;background:-webkit-gradient(linear,left top,right bottom,color-stop(50%,#ffc300),color-stop(50%,rgba(18,18,18,.17))) #ffc300;background:-webkit-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #ffc300;background:-moz-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #ffc300;background:-ms-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #ffc300;background:-o-linear-gradient(-45deg,transparent 50%,rgba(18,18,18,.17) 50%) #ffc300;background:linear-gradient(135deg,transparent 50%,rgba(18,18,18,.17) 50%) #ffc300;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$child', endColorstr='#00aab9', GradientType=1 )}.background-child{background:#ffc300!important}