/*
--LCKV Theme Settings--
Logo-url:         images/logos/rood.png
Voorbeeld-kleur:  #ffc300
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\000039}}
.meer-1 {
  background: #ffc300;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, transparent 50%, #ffc300 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50%, #ffc300));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, transparent 50%, #ffc300 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, transparent 50%, #ffc300 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, transparent 50%, #ffc300 50%);
  /* IE10+ */
  background: linear-gradient(135deg, transparent 50%, #ffc300 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='$parent',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000322}}
body a:link, body a:visited, body a:active {
  color: #ffc300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000331}}
main #home_nieuws .home_samenvatting .home_samenvatting_wrapper h1 {
  color: #ffc300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000338}}
main #vervolg_content h1,
.lckv-print-post h1 {
  color: #ffc300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000345}}
main #pagina_navigatie ul li a:hover, main #pagina_navigatie ul li a.actief {
  color: #ffc300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000351}}
main .special-header {
  background: #ffc300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000353}}
  main .special-header a {
    color: #ffffff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000361}}
.lckv_agenda_item .lckv_agenda_tekst h1,
.lckv_agenda_item .lckv_agenda_tekst h1 a {
  color: #ffc300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000369}}
.lckv_media_item .lckv_media_icon {
  background: #ffc300; }

@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000381}}
  header #first_header #hoofd_menu ul li a:hover, header #first_header #hoofd_menu ul li a.actief {
    color: #ffc300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000384}}
  header #first_header #hoofd_menu ul li .children {
    background: #ffc300; } }
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\0000397}}
  header #first_header #mobiel_menu {
    border-color: #ffc300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\00003100}}
  header #first_header #mobiel_menu:before {
    border-color: #ffc300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-geel\.scss}line{font-family:\00003106}}
  header #first_header #hoofd_menu ul li a:hover, header #first_header #hoofd_menu ul li a.actief {
    background: #ffc300; } }

/*# sourceMappingURL=parent-geel.css.map */
