  header {
    width: 100%;
    height: auto; }
    header #first_header {
      width: 1160px;
      height: 120px;
      margin-left: auto;
      margin-right: auto; }
      header #first_header #header_logo {
        width: 244px;
        float: left;
        margin-top: 25px; }
        header #first_header #header_logo #header_logo_img {
          height: 70px;
          width: 216px; }
      header #first_header #hoofd_menu {
        float: right;
        margin-top: 75px; }
        header #first_header #hoofd_menu ul li {
          position: relative;
          display: inline-block;
          margin-left: 26px;
          padding-bottom: 23px; }
          header #first_header #hoofd_menu ul li a {
            font-size: 22px; }
          header #first_header #hoofd_menu ul li a:hover, header #first_header #hoofd_menu ul li a.actief {
            color: #f53c05; }
          header #first_header #hoofd_menu ul li .children {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 240px;
            background: #f53c05;
            position: absolute;
            left: -30px;
            top: 45px; }
            header #first_header #hoofd_menu ul li .children li {
              margin-left: 30px;
              line-height: 30px;
              display: block;
              padding: 0px; }
              header #first_header #hoofd_menu ul li .children li a {
                font-size: 18px !important;
                color: #ffffff; }
              header #first_header #hoofd_menu ul li .children li a:hover {
                text-decoration: underline; }

  #second_header {
    height: 521px; }
    #second_header .quote {
      font-size: 50px;
      top: 229px; }
    #second_header a.button {
      font-size: 28px;
      top: 318px;
      padding-top: 16px;
      padding-bottom: 12px;
      padding-left: 33px;
      padding-right: 33px; }

  main {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 540px); }
    main h1 {
      font-size: 32px;
      margin-bottom: 21px; }
    main .nieuwe_sectie {
      margin-top: 58px; }
    main #home_nieuws {
      width: 760px;
      margin-right: 40px; }
      main #home_nieuws .home_samenvatting {
        width: 760px;
        margin-bottom: 30px;
        position: relative; }
        main #home_nieuws .home_samenvatting .home_nieuws_thumb {
          width: 270px;
          height: 180px; }
        main #home_nieuws .home_samenvatting .home_samenvatting_wrapper {
          width: 405px;
          margin-left: 30px;
          margin-right: 0px;
          margin-top: 27px;
          margin-bottom: 27px;
          line-height: 24px;
          font-size: 17px;
          letter-spacing: 0.3;
          -webkit-line-clamp: 4; }
          main #home_nieuws .home_samenvatting .home_samenvatting_wrapper h1 {
            font-size: 27px;
            letter-spacing: 0.2px;
            margin-bottom: 6px; }
      main #home_nieuws .home_samenvatting:nth-child(4) {
        margin-bottom: 0px !important; }
    main #sidebar_home_1 {
      width: 360px; }
      main #sidebar_home_1 aside {
        margin-bottom: 30px; }
      main #sidebar_home_1 aside:last-child {
        margin-bottom: 0px !important; }
    main #sidebar_home_2 {
      width: 760px; }
    main #sidebar_home_3 {
      width: 100%;
      margin-bottom: 49px; }
      main #sidebar_home_3 aside {
        width: calc(50% - 20px);
        float: left; }
        main #sidebar_home_3 aside section {
          background: #ffffff;
          height: 280px; }
      main #sidebar_home_3 aside:nth-child(odd) {
        margin-right: 40px; }
    main #vervolg_content {
      width: 760px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 40px; }
      main #vervolg_content h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 21px;
        letter-spacing: -0.7px; }
      main #vervolg_content .page_header {
        width: 100%;
        height: 300px; }
        main #vervolg_content .page_header img {
          width: 100%; }
      main #vervolg_content .page_content_tekst {
        margin: 40px;
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px; }
    main #pagina_navigatie {
      margin-top: 40px;
      width: 360px; }
      main #pagina_navigatie h1 {
        margin: 40px;
        margin-top: 27px;
        margin-bottom: 17px;
        letter-spacing: -0.7px; }
      main #pagina_navigatie ul {
        margin: 40px;
        margin-top: 0px; }
        main #pagina_navigatie ul li a {
          font-size: 18px;
          line-height: 30px; }

  footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px; }
    footer #footer_navigatie {
      width: 1160px; }
      footer #footer_navigatie .footerblok {
        margin-right: 50px; }
        footer #footer_navigatie .footerblok .parent_page {
          font-size: 24px;
          display: inline-block;
          margin-bottom: 6px; }
        footer #footer_navigatie .footerblok ul li a {
          color: #ffffff;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.3px; }
      footer #footer_navigatie .footerblok:last-child {
        margin-right: 0px !important; }

  /********** Widgets **********/
  .groene_pijl {
    width: 100%; }
    .groene_pijl .groene_pijl_bg {
      height: 180px;
      background-size: 105px;
      line-height: 180px;
      font-size: 36px; }

  .lckv_tekst {
    height: 390px; }
    .lckv_tekst .tabs h1 {
      line-height: 60px;
      font-size: 27px; }
    .lckv_tekst .content {
      height: 330px; }

  .lckv_media_item {
    height: 120px;
    padding: 18px;
    margin-bottom: 30px; }
    .lckv_media_item .lckv_media_icon {
      width: 84px;
      height: 84px; }
      .lckv_media_item .lckv_media_icon img {
        width: 52px;
        height: 52px;
        position: absolute;
        top: 34px;
        left: 34px; }
    .lckv_media_item .lckv_media_tekst {
      width: calc(100% - 104px);
      padding-left: 18px;
      font-size: 20.2px;
      line-height: 28px;
      padding-top: 16px; }

  .lckv_media_item:last-child {
    margin-bottom: 0px !important; }

  .lckv_agenda_item {
    height: 120px;
    margin-bottom: 30px; }
    .lckv_agenda_item .lckv_agenda_datum {
      width: 120px;
      height: 120px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag, .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        width: 100%;
        height: 50%;
        line-height: 57px;
        letter-spacing: -1; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_dag {
        padding-top: 6px;
        padding-left: 17px;
        font-size: 37px; }
      .lckv_agenda_item .lckv_agenda_datum .lckv_agenda_maand {
        padding-left: 62px;
        font-size: 30px; }
    .lckv_agenda_item .lckv_agenda_tekst {
      width: calc(100% - 120px);
      padding: 23px;
      padding-left: 30px;
      line-height: 26px;
      font-size: 18px;
      letter-spacing: -0.1; }
      .lckv_agenda_item .lckv_agenda_tekst h1 {
        font-size: 27px;
        letter-spacing: 0.2px;
        margin-bottom: 6px; }

  .lckv_agenda_item:last-child {
    margin-bottom: 0px !important; } 
