@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\000033}}
.meer-1 {
  background: #44b550;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, transparent 50%, #44b550 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50%, #44b550));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, transparent 50%, #44b550 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, transparent 50%, #44b550 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, transparent 50%, #44b550 50%);
  /* IE10+ */
  background: linear-gradient(135deg, transparent 50%, #44b550 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='$parent',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000316}}
body a:link, body a:visited, body a:active {
  color: #44b550; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000325}}
main #home_nieuws .home_samenvatting .home_samenvatting_wrapper h1 {
  color: #44b550; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000332}}
main #vervolg_content h1 {
  color: #44b550; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000339}}
main #pagina_navigatie ul li a:hover, main #pagina_navigatie ul li a.actief {
  color: #44b550; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000345}}
main .special-header {
  background: #44b550; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000352}}
.lckv_agenda_item .lckv_agenda_tekst h1,
.lckv_agenda_item .lckv_agenda_tekst h1 a {
  color: #44b550; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000360}}
.lckv_media_item .lckv_media_icon {
  background: #44b550; }

@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000372}}
  header #first_header #hoofd_menu ul li a:hover, header #first_header #hoofd_menu ul li a.actief {
    color: #44b550; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000375}}
  header #first_header #hoofd_menu ul li .children {
    background: #44b550; } }
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000388}}
  header #first_header #mobiel_menu {
    border-color: #44b550; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000391}}
  header #first_header #mobiel_menu:before {
    border-color: #44b550; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/web\/lckvintranet\.mosselman\.nu\/wp-content\/themes\/lckv_2015\/scss\/schemes\/parent-groen\.scss}line{font-family:\0000397}}
  header #first_header #hoofd_menu ul li a:hover, header #first_header #hoofd_menu ul li a.actief {
    background: #44b550; } }

/*# sourceMappingURL=parent-groen.css.map */
