$child 			: #44b550;

.meer-2 {
	background: $child; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  transparent 50%, $child 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,transparent), color-stop(50%,$child)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  transparent 50%,$child 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  transparent 50%,$child 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  transparent 50%,$child 50%); /* IE10+ */
	background: linear-gradient(135deg,  transparent 50%,$child 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='$child',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

footer {
	#footer_navigatie {
		.footerblok {
			.parent_page {
				color: $child;
			}
		}
	}
}

.lckv_agenda_item {
	.lckv_agenda_datum {
		background: $child; /* Old browsers */
		background: $child -webkit-gradient(linear, left top, right bottom, color-stop(50%,$child), color-stop(50%,rgba(18, 18, 18, 0.17))); /* Chrome,Safari4+ */
		background: $child -webkit-linear-gradient(-45deg,  transparent 50%,rgba(18, 18, 18, 0.17) 50%); /* Chrome10+,Safari5.1+ */
		background: $child 	  -moz-linear-gradient(-45deg,  transparent 50%,rgba(18, 18, 18, 0.17) 50%); /* FF3.6+ */
		background: $child 	   -ms-linear-gradient(-45deg,  transparent 50%,rgba(18, 18, 18, 0.17) 50%); /* IE10+ */
		background: $child 		-o-linear-gradient(-45deg,  transparent 50%,rgba(18, 18, 18, 0.17) 50%); /* Opera 11.10+ */
		background: $child 		   linear-gradient(135deg,  transparent 50%,rgba(18, 18, 18, 0.17) 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$child', endColorstr='#00aab9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}

.background-cild {
	backround: $child !important;
}