/*
--LCKV Theme Settings--
Logo-url:         images/logos/rood.png
Voorbeeld-kleur:  #05c8d9
*/

$parent 		: #05c8d9;

.meer-1 {
	background: $parent; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  transparent 50%, $parent 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,transparent), color-stop(50%,$parent)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  transparent 50%,$parent 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  transparent 50%,$parent 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  transparent 50%,$parent 50%); /* IE10+ */
	background: linear-gradient(135deg,  transparent 50%,$parent 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='$parent',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

body {
	a:link, a:visited, a:active {
		color: $parent;
	}
}

main {
	#home_nieuws {
		.home_samenvatting {
			.home_samenvatting_wrapper {
				h1 {
					color: $parent;
				}
			}
		}
	}
	#vervolg_content {
		h1 {
			color: $parent;
		}
	}
	#pagina_navigatie {
		ul {
			li {
				a:hover, a.actief {
					color: $parent;
				}
			}
		}
	}
	.special-header {
		background: $parent;
	a {
			color: #ffffff;
		}
	}
}

.lckv_agenda_item {
	.lckv_agenda_tekst {
		h1,
		h1 a {
			color: $parent;
		}
	}
}

.lckv_media_item {
	.lckv_media_icon {
		background: $parent;
	}
}

@media only screen and (min-width: 768px) {

	header {
		#first_header {
			#hoofd_menu {
				ul {
					li {
						a:hover, a.actief {
							color: $parent;
						}
						.children {
							background: $parent;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	header {
		#first_header {
			#mobiel_menu {
				border-color: $parent;
			}
			#mobiel_menu:before {
				border-color: $parent;
			}
			#hoofd_menu {
				ul {
					li {
						a:hover, a.actief {
							background: $parent;
						}
					}
				}
			}
		}
	}
}